/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
body {
  color: #000;
  text-align: center;
  /*text-shadow: 0 1px 3px rgba(0,0,0,.5);*/
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  /*-webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);*/
}
.site-wrapper-inner {
  /*display: table-cell;*/
  /* MY EDIT */
  vertical-align: middle;
  width: 1000px;
  text-align: center;
  display: inline-block;

  /*vertical-align: top;*/
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
  /* MY EDIT */
  height: 700px;

}

/* Padding for spacing */
.inner {
  padding: 30px;
}


/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 300px) {
  .nav-left {
    float: left;
  }
  .nav-right {
    float: right;
  }
}

h3 .small{
  color: black;
}
#search>div h3{
  margin: 0;
}

/*
 * Cover
 */

.cover {
  padding: 0 20px;
  /*MY EDIT*/
  margin-top: 280px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: absolute;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
    /*height: 500px;*/
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 1000px;
  }
}
/*
-----------------------------------------------------------------
  MY STYLES
-----------------------------------------------------------------
*/

/* Get first title */

h1{
  font-size: 75px;
  display: inline-block;
}

/*search styles*/


.no-display{
	display: none;
}
.force-display{
	display: inline-block;
}

#search{
	/*position: relative;*/
  /*z-index: 5;
  height: 50px;*/
}

#searchText{
  display: block;
  height: 50px;
}

#search.visible-xs{
	/*top: 2em;*/
}

#search i{
	right: 2em;
  display: inline-block;
}

#search li{
  display: none;
}

#item-picker{
  min-height: 0px;
  background-color: #eee;
  border-style: solid;
  border-color: black;
  width: 140px;
  border-width: 0px 4px 2px 4px;
  margin-top: -2px;

}
#search input{
  background: #fff;
  text-align: center;
  font-size: 2em;
  width: 140px;
}

#search a{
  color: black;
  text-decoration: none;
  z-index: 5;
}

input:focus {
  border: 0;
  outline:none;
}

.item{
  border-style: solid;
  border-color: black;
  border-width: 2px 0;
}
::-webkit-input-placeholder {
   color: #000;
   font-size: 1em;
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   color: #000;
   font-size: 1em;
   text-align: center;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #000 ;
   font-size: 1em;
   text-align: center;
}

:-ms-input-placeholder {
   color: #000;
   font-size: 1em;
   text-align: center;

}

/*SVG sizes*/
#title-background{
  width: 630px;
  height: 137px;
}
#about{
  width: 113px;
  height: 50px;
}

#search,
#search>div{
    display: inline-block;
}

#social-search{
  top: 5px;
  height: 32px;
  width: 110px;
  vertical-align: top;
  margin-top: 13px
}
.search-button{
  width: 32px;
  display: inline-block;
}

/* "drugs + me" title */

.title{
  width: 630px;
  margin: auto;
}


#title-drugs-button{
  width: 307px;
  -webkit-transform: translate3d(0,0,0); /* Safari */
  transform: translate3d(0,0,0);
}

#title-me-button{
  margin-left: 424px;
  width: 186px;
}

.title-button{
  height: 127px;
  border: 5px solid black;
  background: white;
  position: absolute;
}

.title-button h1{
  margin-top: 10px;
}

.title-collapse{
  position: absolute;
  display: inline-block;
  margin-top: 133px;
  width: 100%;
  left: 0;
  opacity: 0;
}

.title-collapse div{
  box-shadow: none;
  padding: 0 20px 8px 20px;
  margin: -2px;
  display: inline-block;
  border: 5px solid black;
  background-color: white;
  transition: background-color 0.1s;
}
.title-collapse div:hover{
  background-color: #36434C;
}

#title-me-collapse div{
  box-shadow: none;
  padding: 0 20px 8px 20px;
  margin: -2px;
  display: inline-block;
  border: 5px solid black;

}

#b-and-t{
  background-color: #FCD08B;
  color: #000;
  transition: 0.1s ease-in-out;
}
#c-and-f{
  color: #000;
  background-color: #AC97B8;
  transition: 0.1s ease-in-out;
}
#tc-of-f{
  color: #000;
  background-color: #73C4C6;
  transition: 0.1s ease-in-out;
}
#addiction{
  color: #000;
  background-color: #D55C5E;
  transition: 0.1s ease-in-out;
}
#b-and-t:hover{
  color: #fff;
  background-color: #36434C;
}
#c-and-f:hover{
  color: #fff;
  background-color: #36434C;
}
#tc-of-f:hover{
  color: #fff;
  background-color: #36434C;
}
#addiction:hover{
  color: #fff;
  background-color: #36434C;
}


#title-me-collapse div:hover{
  background-color: #36434C;
}

#alcohol{
  background-color: #7CCAD0;
  transition: 0.1s ease-in-out;
}

#alcohol:hover{
  color: #fff;
  background-color: #36434C;
}

#cannabis{
  background-color: #85BE91;
  transition: 0.1s ease-in-out;
}

#cannabis:hover{
  color: #fff;
  background-color: #36434C;
}

#cocaine{
  background-color: #D55C5E;
  transition: 0.1s ease-in-out;
}

#cocaine:hover{
  color: #fff;
  background-color: #36434C;
}

#mdma{
  background-color: #D6797A;
  transition: 0.1s ease-in-out;
}

#mdma:hover{
  color: #fff;
  background-color: #36434C;
}


/* Content */

.boxed,
.boxed:focus{
  border: 4px solid black;
  padding: 6px 0;
  margin: 0;
  background-color: #fff;
}


foreignObject h3{
  margin: 0;
}

#content{
  padding: 200px 0;
}

#home-buttons>li{
  border: 4px solid black;
  margin: -4px 32px -4px 0;
}
#home-buttons>li.active{
  border-bottom: 0px;
  padding-bottom: 4px;
}

#home-buttons h3{
  margin: 5px 0;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover{
  background-color: inherit;
  color: #fff;
}
.nav-pills > li > a,
.nav-pills > li > a:focus,
.nav-pills > li > a:hover{
  background-color: inherit;
  color: #fff;
}

.tab-content{
  border: 4px solid black;
}
.tab-content h4{
  color: #fff;
  margin: 0px;
  font-weight: normal;
  padding: 10px;
}
.harm-reduction{
  background-color: #6C7B8A;
}
.news{
  background-color: #F1924D;
}
.about-us{
  background-color: #EF6767;
}
#partners{
  margin-top: 20px;
  /*background-color: #4CBA83;*/
  border: 4px solid black;
}

#partners a img{
  height: 140px;
  padding: 20px;
}

.donate{
  background-color: #F6DA5C;
}

/*------------ Footer ----------------------------*/

#footer{
  background: #939598;
  margin: 0;
  height: 80px;
}
#footer-wrapper{
  padding: 30px 30px 20px 30px;
}

/*#footer ul{
  top: 30px;
}*/
