/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
body {
  color: #000;
  text-align: center;
  /*text-shadow: 0 1px 3px rgba(0,0,0,.5);*/
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  /*-webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);*/
}
.site-wrapper-inner {
  /*display: table-cell;*/
  /* MY EDIT */
  vertical-align: middle;
  width: 1000px;
  text-align: center;
  display: inline-block;

  /*vertical-align: top;*/
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
  /* MY EDIT */
  height: 700px;

}

#cover h1{
    bottom: 0;
    left: 0;
}

#cover h4{
  color: #fff;
  padding: 0;
  font-style: italic;
}
#cover{
  position: absolute;
}
#cover img{
  top: -250px;
  position: absolute;
  left: 300px;
}
#cover-text{
  top: 30px;
  text-align: left;
  position: absolute;
  width: 530px;
}
.cover-container{
  height: 584px;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}


/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 300px) {
  .nav-left {
    float: left;
  }
  .nav-right {
    float: right;
  }
}

h3 .small{
  color: black;
}
#search>div h3{
  margin: 0;
}

/*
 * Cover
 */

.cover {
  padding: 0 20px;
  /*MY EDIT*/
  margin-top: 280px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: absolute;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
    /*height: 500px;*/
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 1000px;
  }
}
/*
-----------------------------------------------------------------
  MY STYLES
-----------------------------------------------------------------
*/

/*--- Globals -------------------------------------------------*/

h1{
  font-size: 75px;
  display: inline-block;
}

h4{
  padding: 20px 0;
  font-size: 17px;
  font-weight: bolder;
}
p{
  font-size: 15px;
}
/*--- end Globals ----------------------------------------------------*/
/*--- navbar styles --------------------------------------------------*/


.no-display{
	display: none;
}
.force-display{
	display: inline-block;
}

#search{
	/*position: relative;*/
  /*z-index: 5;
  height: 50px;*/
}

#searchText{
  display: block;
  height: 34px;
}

#search.visible-xs{
	/*top: 2em;*/
}

#search i{
  display: inline-block;
}

#search li{
  display: none;
}

#item-picker{
  position: absolute;
  min-height: 0px;
  background-color: #eee;
  border-style: solid;
  border-color: black;
  width: 140px;
  border-width: 0px 2px 1px 2px;
  margin-top: -1px;
  box-shadow: 2px 2px 1px #6B7A88;

}
#search input{
  background: #fff;
  text-align: center;
  font-size: 1.3em;
  width: 140px;
}

#search a{
  color: inherit;
  text-decoration: none;
}

input:focus {
  border: 0;
  outline:none;
}

.item{
  border-style: solid;
  border-color: black;
  border-width: 1px 0;
}
.item-name{
  font-weight: bold;
}

::-webkit-input-placeholder {
   color: #000;
   font-size: 1em;
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   color: #000;
   font-size: 1em;
   text-align: center;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #000 ;
   font-size: 1em;
   text-align: center;
}

:-ms-input-placeholder {
   color: #000;
   font-size: 1em;
   text-align: center;

}
#title-background{
  width: 630px;
  height: 137px;
}
#about{
  width: 113px;
  /*height: 50px;*/
}

#search,
#search>div{
    display: inline-block;
}

#search-bar>div{
  display: block;

}

#social-search{
  width: 110px;
  position: relative;
}
#social-search img{
  line-height: 50px;
  display: inline;
}

@-moz-document url-prefix() {
    #social-search img {
        vertical-align: baseline;
    }
}

.search-button{
  width: 32px;
  display: inline-block;
}

/*--- end navbar -----------------------------------------------------*/

/* "drugs + me" title --------------------------------------------------*/

.title{
  width: 630px;
  margin: auto;
}


#title-drugs-button{
  width: 307px;
  -webkit-transform: translate3d(0,0,0); /* Safari */
  transform: translate3d(0,0,0);
}

#title-me-button{
  margin-left: 424px;
  width: 186px;
}

.title-button{
  height: 127px;
  border: 5px solid black;
  background: white;
  position: absolute;
}

.title-button h1{
  margin-top: 10px;
}

.title-collapse{
  position: absolute;
  display: inline-block;
  margin-top: 133px;
  width: 100%;
  left: 0;
  opacity: 0;
}

.title-collapse div{
  box-shadow: none;
  padding: 0 20px 8px 20px;
  margin: 0 -4px;
  display: inline-block;
  border: 5px solid black;
  transition: background-color 0.1s;
}
.title-collapse div:hover{
  background-color: #36434C;
}

#title-me-collapse div{
  box-shadow: none;
  padding: 0 20px 8px 20px;
  margin: -2px;
  display: inline-block;
  border: 5px solid black;

}

/*--- end "drugs + me" title ----------------------------------------*/

/*--- page linking styles -------------------------------------------*/

#b-and-t{
  background-color: #FCD08B;
  color: #000;
  transition: 0.1s ease-in-out;
}
#c-and-f{
  color: #000;
  background-color: #AC97B8;
  transition: 0.1s ease-in-out;
}
#tc-of-f{
  color: #000;
  background-color: #73C4C6;
  transition: 0.1s ease-in-out;
}
#addiction{
  color: #000;
  background-color: #D55C5E;
  transition: 0.1s ease-in-out;
}
#b-and-t:hover{
  color: #fff;
  background-color: #36434C;
}
#c-and-f:hover{
  color: #fff;
  background-color: #36434C;
}
#tc-of-f:hover{
  color: #fff;
  background-color: #36434C;
}
#addiction:hover{
  color: #fff;
  background-color: #36434C;
}


#title-me-collapse div:hover{
  background-color: #36434C;
}

.alcohol{
  color: #000;
  background-color: #7CCAD0;
  transition: 0.1s ease-in-out;
}

.alcohol:hover{
  color: #fff;
  background-color: #36434C;
}

.cannabis{
  color: #000;
  background-color: #85BE91;
  transition: 0.1s ease-in-out;
}

.cannabis:hover{
  color: #fff;
  background-color: #36434C;
}

.cocaine{
  color: #000;
  background-color: #D55C5E;
  transition: 0.1s ease-in-out;
}

.cocaine:hover{
  color: #fff;
  background-color: #36434C;
}

.mdma{
  color: #000;
  background-color: #D6797A;
  transition: 0.1s ease-in-out;
}

.mdma:hover{
  color: #fff;
  background-color: #36434C;
}

/*--- end page linking styles ---------------------------------------*/

/*--- Sidebar styles ------------------------------------------------*/

#sidebar{
  top: 40px;
}

/* all links */
.bs-docs-sidebar .nav>li>a {
    color: #999;
    padding: 4px 20px;
    font-size: 14px;
    font-weight: 400;
}

/* active & hover links */
.bs-docs-sidebar .nav>.active>a,
.bs-docs-sidebar .nav>li>a:hover,
.bs-docs-sidebar .nav>li>a:focus {
  color: #4CBA83;
  border: 2px solid black;
  box-shadow: 2px 2px 1px #6B7A88;
  background-color: #fff;
  font-size: 18px;
  width: 200px;
}
/*--- End sidebar styles -------------------------------------*/

/*--- Content ------------------------------------------------*/

.boxed,
.boxed:focus{
  border: 2px solid black;
  padding: 3px 0;
  background-color: #fff;
  box-shadow: 2px 2px 1px #6B7A88;
  border-radius: 0px;
}
.boxed p{
  padding: 15px;
}
.searchbarbox{
  font-size: 1.3em;
  font-weight: bold;
}

#content{
  padding: 50px 0;
  text-align: left;
}

#home-buttons>li{
  border: 4px solid black;
  margin: -4px 32px -4px 0;
}
#home-buttons>li.active{
  border-bottom: 0px;
  padding-bottom: 4px;
}

#home-buttons h3{
  margin: 5px 0;
}

h2.title{
  font-size: 24px;
  border-bottom: 1px solid #A4ACB5;
  padding-top: 40px;
  padding-bottom: 20px;
  margin-bottom: 30px;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover{
  background-color: inherit;
  color: #fff;
}
.nav-pills > li > a,
.nav-pills > li > a:focus,
.nav-pills > li > a:hover{
  background-color: inherit;
  color: #fff;
}

.tab-content{
  border: 4px solid black;
}
.tab-content h4{
  color: #fff;
  margin: 0px;
  font-weight: normal;
  padding: 10px;
}
.harm-reduction{
  background-color: #6C7B8A;
}
.news{
  background-color: #F1924D;
}
.about-us{
  background-color: #EF6767;
}
#partners{
  margin-top: 20px;
  /*background-color: #4CBA83;*/
  border: 4px solid black;
}

#partners a img{
  height: 140px;
  padding: 20px;
}
.donate{
  background-color: #F6DA5C;
}
.thing-to-take{
  width: 200px;
  height: 200px;
  display: inline-block;
  margin: 10px;
  position: relative;
  vertical-align: middle;
}

.thing-to-take.flipped{
  background-color: #6B7A87;
  color: #fff;
}

.funky{
  padding: 2px 20px;
  font-family: "Bebas-Neue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

h2.funky{
  color: #97D6DD;
  font-size: 60px;
}
h3.funky{
  font-size: 24px;
}

/*--- Interactions --- */
#interactions-combo{
  display: inline-block;
}
#interactions-table{
  padding: 5px;
  display: inline-block;
}
.drug-to-combine{
  display: inline-block;
  width: 120px;
  margin: 5px;
}
.drug-to-combine h5{
  color: black;
  text-align: center;
}
/*--- Harm reduction --- */
#harm-reduction-stage-indicators{
  display: inline-block;
  margin-top: 2px;
  width: 175px;
}

.harm-reduction-stage-indicator{
  width: 175px;
  margin-top: -2px;
  background-color: #6B7A87;
  color: #97D6DD;
}
.harm-reduction-stage-indicator.active{
  background-color: #86CED5;
  margin-left: -10px;
  height: 80px;
}
.harm-reduction-stage-indicator.active h3{
  color: #fff;
}
.harm-reduction-stage-indicator h3{
  color: #97D6DD;
}
#harm-reduction-stage-descriptions{
  height: 350px;
}
/*------------ Footer ----------------------------*/

#footer{
  background: #939598;
  margin: 0;
  height: 80px;
}
#footer-wrapper{
  padding: 30px 30px 20px 30px;
}

/*#footer ul{
  top: 30px;
}*/
