/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #BBBAD4;
  text-decoration: none;
  font-weight: bold;
}
a:hover{
  text-decoration: underline;
}
p a,
p a:hover,
span a,
span a:hover,
blockquote a,
blockquote a:hover
{
  color: #8bbded;
}
p>a:hover,
span>a:hover,
blockquote a:hover
{
  font-weight: bold;
  max-height: 300px;
}
/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}

/*
 * Base structure
 */

html,
body {
  height: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
body {
  color: #000;
  text-align: center;
  overflow-x: hidden;
  /*text-shadow: 0 1px 3px rgba(0,0,0,.5);*/
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  /*-webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);*/
}
.site-wrapper-inner {
  /*display: table-cell;*/
  /* MY EDIT */
  vertical-align: middle;
  margin: 0 0;
  text-align: center;
  display: inline-block;

  /*vertical-align: top;*/
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
  /* MY EDIT */
  height: 700px;

}

#cover h1{
    bottom: 0;
    left: 0;
}

#cover h4{
  color: #fff;
  padding: 0;
  font-style: italic;
}
#cover{
  /*position: absolute;*/
}
#cover img{
  top: -210px;
  position: absolute;
  left: 300px;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
#cover-text{
  top: 30px;
  text-align: left;
  position: absolute;
  width: 100%;
}
.cover-container{
  height: 484px;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}


/*
 * Header
 */
 #navbar{
   z-index: 5;
 }
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 300px) {
  .nav-left {
    float: left;
  }
  .nav-right {
    float: right;
  }
}

h3 .small{
  color: black;
  margin-top: 5px;
}
#search>div h3{
  margin: 0;
}

/*
 * Cover
 */

.cover {
  padding: 0 20px;
  /*MY EDIT*/
  margin-top: 280px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

 @media (max-width: 767px) {

 /*Beginning of moble nav bar */
  #navbar{
    z-index: 5;
    background: #667887;
    left: 0;
    height: 50px;
    width: 100%;
  }
  .nav>li>a{
    padding: 0;
  }


   /* Pull out the header and footer */
   .masthead {
     position: absolute;
     top: 0;
   }
   .mastfoot {
     position: fixed;
     bottom: 0;
   }
   /* Start the vertical centering */
   .site-wrapper-inner {
     vertical-align: middle;
   }
   /* Handle the widths */
   .masthead,
   .mastfoot,
   .cover-container {
     width: 90vw; /* Must be percentage or pixels for horizontal alignment */
     /*height: 500px;*/
   }


   #interactions-table{
     text-align: center;
   }
   .harm-reduction-stage-indicator {
    width: 30%;
    margin-top: -2px;
    background-color: #6B7A87 !important;
    display: inline-block;
    margin: -3px -5px;
  }
  #harm-reduction-stage-indicators{
    display: inline-block;
    margin-top: 2px;
    left: 0;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }

  .harm-reduction-stage-indicator{
    width: 30%;
    margin-top: -2px;
    background-color: #6B7A87;
  }
  .harm-reduction-stage-indicator.active{
    margin-left: -10px;
    height: 80px;
  }
  /*--- Startpage title ---------------------------------*/

  #title{
    width: 100%;
    height: 20.5vw;
  }

  #title>div{
    position: absolute;
    width: 84%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .title-button{
    position: absolute;
    z-index: 2;

  }
  #title-drugs>div{
    width: 40.5vw;
  }

  #title-me-button{
    margin-left: 56.5vw;
    width: 24.5vw;
  }


  .title-button{
    height: 17vw;
    border: 0.7vw solid black;
    background: white;
    position: absolute;
  }

  #title h1{
    margin-top: 1vw;
    font-size: 11vw;
  }

  .title-collapse{
    position: absolute;
    display: inline-block;
    margin-top: 17.7vw;
    margin-left: 1.5vw;
    width: 100%;
    left: 0;
    opacity: 0;
  }

  .title-collapse div{
    box-shadow: none;
    width: 100%;
    margin: -2px 0;
    display: inline-block;
    border: 0.7vw solid black;
    transition: background-color 0.1s;
  }
  .title-collapse h3{
    font-size: 4vw;
    margin: 10px;
  }

  #title-me-collapse{
    top: 0.4vw;
  }
/* ------------------------------------ */

  .title-collapse div:hover{
    background-color: #36434C;
  }

  #title-me-collapse div{
    box-shadow: none;
    padding: 0 20px 8px 20px;
    margin: -1px -2px -4px -2px;
    display: inline-block;
    border: 0.7vw solid black;
  }
  #title-static{

  }
  #title-static>div{
    vertical-align: middle;
    position: absolute;
  }

/* ----------------------------------- */
  .title-background{
    height: 17vw;
    top: 1.5vw;
    left: 1.5vw;
    background-color: #687A89;
    border: 0.7vw solid #000;
  }

  #title-drugs-background{
    width: 40.5vw;
  }
  #title-me-background{
    margin-left: 56.5vw;
    width: 24.5vw;
  }
  #title-plus{
    left: 46vw;
  }

  #site-index .cover{
    margin-top: 37vw;
  }
  #site-index .cover-container{
    height: 80vw;
  }
  .side-note{
    color: #687A89;
    border-width: 0 0 0 3px;
    border-color: #687A89;
    border-style: solid;
    padding: 0 0 0 10px !important;
    margin: 10px 20px 10px 10px;
    font-weight: 300;
    letter-spacing: .1px;
  }
  .side-note a{
    color: #6397CC;
    font-weight: bold;
  }
  .side-note p{
    margin: 0;
  }
 }

@media (min-width: 768px) {

  .masthead,
  .mastfoot,
  .cover-container {
    width: 88vw;
  }

  #interactions-table{
    text-align: left;
  }


  /* Pull out the header and footer */
  .masthead {
    position: absolute;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 85vw; /* Must be percentage or pixels for horizontal alignment */
    /*height: 500px;*/
  }

  #harm-reduction-stage-indicators{
    /*display: inline-block;*/
    margin-top: 2px;
    width: 175px;
  }

  .harm-reduction-stage-indicator{
    width: 175px;
    margin-top: -2px;
    background-color: #6B7A87 !important;
  }
  .harm-reduction-stage-indicator.active{
    margin-left: -10px;
    height: 80px;
  }
  /* "drugs + me" title --------------------------------------------------*/

  #title{
    width: 630px;
    height: 150px;
  }

  #title>div{
    position: absolute;
    width: 630px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .title{
  }
  .title-button{
    position: absolute;
    z-index: 2;

  }

  #title-drugs-button{
    width: 307px;
  }

  #title-me-button{
    margin-left: 424px;
    width: 186px;
  }

  .title-button{
    height: 127px;
    border: 4px solid black;
    background: white;
    position: absolute;
  }

  .title-button h1{
    margin-top: 10px;
  }

  .title-collapse{
    position: absolute;
    display: inline-block;
    margin-top: 133px;
    width: 100%;
    left: 0;
    opacity: 0;
  }

  .title-collapse div{
    box-shadow: none;
    padding: 0 26px 11px 26px;
    margin: -2px -4px;
    display: inline-block;
    border: 4px solid black;
    transition: background-color 0.1s;
  }
  .title-collapse div:hover{
    background-color: #36434C;
  }

  #title-me-collapse div{
    box-shadow: none;
    padding: 0 20px 8px 20px;
    margin: -1px -2px -4px -2px;
    display: inline-block;
    border: 4px solid black;
  }
  #title-static{

  }
  #title-static>div{
    vertical-align: middle;
    position: absolute;
  }

  .title-background{
    top: 9px;
    left: 9px;
    background-color: #687A89;
    border: 4px solid #000;
  }
  #title-drugs-background{
    width: 307px;
    height: 127px;
  }
  #title-me-background{
    width: 186px;
    height: 127px;
    margin-left: 424px;
  }
  #title-plus{
    left: 345px;
  }
  #site-index .cover-container{
    height: 600px;
  }

  .side-note{
    color: #687A89;
    border-width: 0 0 0 3px;
    border-color: #687A89;
    border-style: solid;
    padding: 1px 1px 1px 10px !important;
    margin-left: 10px;
  }
  .side-note a{
    color: #000000;
    font-weight: bold;
  }
  .side-note p{
    margin: 0;
  }
  .lead{
    font-size: 25px !important;
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 85vw;
  }
  .col-md-10>div{
    padding-right: 11vw;
    padding-left: 10vw;
  }
    /*#me-content > div {
      padding: 0;
    }
  #me-content > div > * {
    padding-left: 10vw;
    padding-right: 11vw;
  }*/
  #interactions-interactive {
      width: 57vw;
  }
  #interactions-combo-result{
    float: right;
  }
}
/*
-----------------------------------------------------------------
  MY STYLES
-----------------------------------------------------------------
*/

/*--- Bootstrap overwrites ------------------------------------*/
.img-responsive{
  display: inline-block;
  margin: 10px 0;
}
small,
.small{
  font-style: italic;
  color: #9f9f9f;
}
/*--- Globals -------------------------------------------------*/

h1{
  font-size: 75px;
  display: inline-block;
}

h4{
  padding: 20px 0;
  font-size: 17px;
  font-weight: bolder;
}
p{
  font-size: 15px;
}


/*--- end Globals ----------------------------------------------------*/
/*--- Themes ---------------------------------------------------------*/

.theme.leave-bg,
.theme-light.leave-bg{
  background-color: inherit !important;
}
.theme.leave-color
.theme-light.leave-color{
  color: inherit !important;
}
/*--- end themes -----------------------------------------------------*/
/*--- all sections ---------------------------------------------------*/
.section-title{
  border-bottom: 2px solid #AFB8C0;
  padding-bottom: 20px;
  margin: 35px 0px;
}

/*--- end all sections -----------------------------------------------*/
/*--- navbar styles --------------------------------------------------*/

#home-top-left{
  height: 44px;
  margin-top: -4px;
}

.nav-social-icon{
  height: 40px;
  width: 40px;
  border: 2px solid #000000;
  margin-right: 5px;
}
#twitter-social-icon{
  height: 65%;
  margin-top: 7px;
}

.force-display{
	display: inline-block;
}

#searchText{
  display: block;
  height: 34px;
}

#search.visible-xs{
	/*top: 2em;*/
}

#search i{
  display: inline-block;
}

.tag{
  display: none;
}

#item-picker{
  width: 140px;
  box-shadow: 2px 2px 0px #6B7A88;
  position: absolute;
}

.item-picker{
  border-width: 0px 2px 1px 2px;
  margin-top: -1px;
  min-height: 0px;
  background-color: #eee;
  border-style: solid;
  border-color: black;
}

#search input{
  background: #fff;
  text-align: center;
  font-size: 1.3em;
  width: 140px;
}

.item a{
  color: inherit;
  text-decoration: none;
}

input:focus {
  border: 0;
  outline:none;
}

.item{
  border-style: solid;
  border-color: black;
  border-width: 1px 0;
}
.item-name{
  font-weight: bold;
  text-align: center;
}

::-webkit-input-placeholder {
   color: #000;
   font-size: 1em;
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   color: #000;
   font-size: 1em;
   text-align: center;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #000 ;
   font-size: 1em;
   text-align: center;
}

:-ms-input-placeholder {
   color: #000;
   font-size: 1em;
   text-align: center;

}

#about{
  width: 113px;
  /*height: 50px;*/
}

#search,
#search>div{
    display: inline-block;
    vertical-align: middle;
    /*background: #fff;*/
    padding: 3px;
}

#search-bar>div{
  display: block;

}

#social-search{
  width: 150px;
  position: relative;
}
.nav-social-icon img{
  height: 70%;
  margin-top: 4px;
}

#social-search a{
  display: inline-block;
  vertical-align: middle;
}


@-moz-document url-prefix() {
    #social-search img {
        vertical-align: baseline;
    }
}

.search-button{
  /*width: 32px;*/
  display: inline-block;
}

/*--- end navbar -----------------------------------------------------*/

 /*--- start "drugs + me" title -------------------------------------*/


/*--- end "drugs + me" title ----------------------------------------*/


/*--- page linking styles -------------------------------------------*/

#b-and-t{
  background-color: #FCD08B;
  color: #000;
  transition: 0.1s ease-in-out;
}
#c-and-f{
  color: #000;
  background-color: #AC97B8;
  transition: 0.1s ease-in-out;
}
#tc-of-f{
  color: #000;
  background-color: #73C4C6;
  transition: 0.1s ease-in-out;
}
#addiction{
  color: #000;
  background-color: #D55C5E;
  transition: 0.1s ease-in-out;
}
#b-and-t:hover{
  color: #fff;
  background-color: #36434C;
}
#c-and-f:hover{
  color: #fff;
  background-color: #36434C;
}
#tc-of-f:hover{
  color: #fff;
  background-color: #36434C;
}
#addiction:hover{
  color: #fff;
  background-color: #36434C;
}


#title-me-collapse div:hover{
  background-color: #36434C;
}

.alcohol{
  color: #000;
  background-color: ##8accd5;
  transition: 0.1s ease-in-out;
}

.alcohol:hover{
  color: #fff;
  background-color: #36434C;
}

.cannabis{
  color: #000;
  background-color: #85BE91;
  transition: 0.1s ease-in-out;
}

.cannabis:hover{
  color: #fff;
  background-color: #36434C;
}

.cocaine{
  color: #000;
  background-color: #D55C5E;
  transition: 0.1s ease-in-out;
}

.cocaine:hover{
  color: #fff;
  background-color: #36434C;
}

.mdma{
  color: #000;
  background-color: #EC96BA;
  transition: 0.1s ease-in-out;
}

.mdma:hover{
  color: #fff;
  background-color: #36434C;
}

.ketamine{
  color: #000;
  background-color: #BDC3C7;
  transition: 0.1s ease-in-out;
}

.ketamine:hover{
  color: #fff;
  background-color: #36434C;
}

.lsd{
  color: #000;
  background-color: #F4CF6A;
  transition: 0.1s ease-in-out;
}

.lsd:hover{
  color: #fff;
  background-color: #36434C;
}


/*--- end page linking styles ---------------------------------------*/

/*--- Sidebar styles ------------------------------------------------*/

#sidebar{
  top: 40px;
}

/* all links */
.bs-docs-sidebar .nav>li>a {
    color: #999;
    padding: 4px 20px;
    font-size: 14px;
    font-weight: 400;
}

/* active & hover links */
.bs-docs-sidebar .nav>.active>a,
.bs-docs-sidebar .nav>li>a:hover,
.bs-docs-sidebar .nav>li>a:focus {
  border: 2px solid black;
  box-shadow: 2px 2px 1px #6B7A88;
  background-color: #fff;
  font-size: 18px;
  width: 200px;
}
/*--- End sidebar styles -------------------------------------*/

/*--- Content ------------------------------------------------*/

.boxed,
.boxed:focus{
  border: 2px solid black;
  padding: 3px 0;
  background-color: #fff;
  box-shadow: 2px 2px 0px #6B7A88;
  border-radius: 0px;
}
.boxed>p{
  padding: 15px;
}
.searchbarbox{
  font-size: 1.3em;
  font-weight: bold;
}

#content{
  padding: 50px 0;
  text-align: left;
  margin-left: 0;

}

#home-buttons>li{
  border: 3px solid black;
  margin: 0px -3px -3px 0;
}
#home-buttons>li.active{
  border-bottom: 0px;
  padding-bottom: 3px;
}

#home-buttons h3{
  margin: 2px -1px 2px 0px;
}

h2.title{
  font-size: 24px;
  border-bottom: 1px solid #A4ACB5;
  padding-top: 40px;
  padding-bottom: 20px;
  margin-bottom: 30px;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover{
  background-color: inherit;
  color: #fff;
}
.nav-pills > li > a,
.nav-pills > li > a:focus,
.nav-pills > li > a:hover{
  background-color: inherit;
  color: #fff;
}

.tab-content{
  border: 3px solid black;
  box-shadow: 2px 2px 0px #6B7A88;
}
.tab-pane p{
  margin-bottom: 0;
  min-height: 100px;
}
.tab-content h4{
  color: #fff;
  margin: 0px 0px 0px 8px;
  font-weight: normal;
  padding: 10px;
}
.harm-reduction{
  background-color: #6C7B8A;
}
.news{
  background-color: #F1924D;
}
.about-us{
  background-color: #EF6767;
}
.partners{
  padding: 0 20px;
  margin-top: 20px;
}

.partners a img{
  height: 140px;
  padding: 20px;
}
.donate{
  background-color: #F6DA5C;
}
.donate h4{
  color: #000000;
}

.thing-to-take{
  width: 200px;
  height: 200px;
  display: inline-block;
  margin: 20px 10px 20px 10px;
  position: relative;
  vertical-align: middle;
}

.thing-to-take.flipped{
  background-color: #6B7A87;
  color: #fff;
}

.funky{
  padding: 2px 20px;
  letter-spacing: .5px;
  font-family: "Bebas Neue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.funky:hover{
  text-decoration: underline;
}

h2.funky{
  font-size: 60px;
}
h3.funky{
  font-size: 32px;
}
h4.funky{
  font-weight: normal;
  font-size: 35px;
}

/*--- Effects ---*/

#effects-positive > li{
  color: #26E224;
}
#effects-neutral > li{
  color: #FBEA00;
}
#effects-negative > li{
  color: #E50000;
}

.effects > li > span {
  color: black;
}
/*--- Dose and Onset ---*/
ul.no-decorate-list>li{
  list-style: none;
}
.brain-science>img{
  height: 70px;
  border: 2px solid black;
  padding: 10px;
  margin: 10px;
  box-shadow: 2px 2px 0px #6B7A88;
}
.brain-science>p{
  padding: 10px;
}
/*--- Interactions --- */

#interactions-combo{
  display: inline;
  margin-top: 35px;
  text-align: center;
}

#interactions-combo-addition>h4{
  margin-top: 15px;
}

#interactions-combo-result{
  text-align: center;
  height: 262px;
  width: 267px;
  margin: 0px 0px 5px 0px;
  padding: 5px 5px 5px 5px;
}
#interactions-combo-result p{
  font-size: 14px;
  padding: 0 10px 10px 10px;

}
#interactions-table{
  padding: 5px;
  display: inline-block;
}
.drug-to-combine{
  display: inline-block;
  width: 110px;
  margin: 5px 1px 1px 1px;
}
.drug-to-combine h5{
  color: black;
  text-align: center;
}
.drug-to-combine.interaction-dangerous{
  background-color: #F37A70;
}
.drug-to-combine.interaction-unsafe{
  background-color: #F3B15D;
}
.drug-to-combine.interaction-caution{
  background-color: #FBF67C;
}
.drug-to-combine.interaction-lowriskd{
  background-color: #8accd5;
}
.drug-to-combine.interaction-lowriskns{
  background-color: #9BEA8B;
}
.drug-to-combine.interaction-lowrisks{
  background-color: #5BCF88;
}
.combo-not-active{
  background-color: #fff !important;
}
/*--- Harm reduction --- */

.harm-reduction-stage-indicator h3{
  color: #fff;
  padding-left: 10%;
}
#harm-reduction-stage-descriptions{
  height: 350px;
  overflow-y: hidden;
  padding: 20px;
}
.harm-reduction-stage-description{
  margin-bottom: 60px;
}
#harm-reduction-timeline{
  display: inline-block;
  width: 100%;
  margin-top: 20px;
}

.read-more{
  position: absolute;
  bottom: 0px;
  margin-bottom: 15px;
  margin-left: 40%;
}

.full-length{
  height: 100% !important;
}

/*------------ Footer ----------------------------*/

#footer{
  background: #939598;
  margin: 0;
  height: 80px;
}
#footer-wrapper{
  padding: 30px 30px 20px 30px;
}

/*#footer ul{
  top: 30px;
}*/

/*--- Page specific ---------------------------------------------------------*/

#site-index #content{
  width: 60%;
}
#mobile-info-boxes>div{
  margin: -2px 0;
}
#mobile-info-boxes p,
#mobile-info-boxes h5{
  padding: 0 10px;
}
#mobile-info-boxes h5{
  display: inline-block;
  font-weight: bold;
}
#mobile-info-boxes .active h5{
  color: #fff;
}
#mobile-info-boxes .partners{
  padding: 15px 10px;
}
#mobile-info-boxes .partners img{
  height: 50px;
  padding: 0;
}
#mobile-info-boxes .partners h5{
  display: block;
  margin-left: -10px;
}
.partners-logos{
  text-align: center;
}
.partners-logos a{
  margin: 0 20px;
}


/*-- Other stlyes --------------------------*/

blockquote{
  border-left: 5px solid #ddd !important;
}
.bigger-sidebar-boxes{
  width: 200px;
  text-align: center;
  margin-bottom: 20px;
}
.bigger-sidebar-boxes a{
  vertical-align: super;
  color: #000000;
}
#title-me-button{
  background-color: #ffffff;
  color: #000000;
  -webkit-transition: background-color ease 1s;
  -moz-transition: background-color ease 1s;
  -o-transition: background-color ease 1s;
  transition: background-color ease 1s;
}

#title-me-button:hover{
  background-color: #36434C !important;
  -webkit-transition: background-color ease 1s;
  -moz-transition: background-color ease 1s;
  -o-transition: background-color ease 1s;
  transition: background-color ease 1s;
}
#title-me-button:hover a{
  color: #ffffff !important;
  -webkit-transition: color ease 1s;
  -moz-transition: color ease 1s;
  -o-transition: color ease 1s;
  transition: color ease 1s;
}
#title-me-button a{
  color: #000000 !important;
  -webkit-transition: color ease 1s;
  -moz-transition: color ease 1s;
  -o-transition: color ease 1s;
  transition: color ease 1s;
}


/*-- Mobile styles ----------------------------------------------------------*/

#mobile-nav-collapse{
  background-color: #566470;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
}

#mobile-search-bar{
  text-align: left;
  height: 65px;
  width: 80%;
  margin: 0 auto;
  padding: 15px 0;
  font-size: 16px;
}
.mobile-nav-button {
    background-color: #667887;
    display: inline;
}
.mobile-nav-button.active {
    background-color: #566470;
    display: inline;
    border: 2px solid #000000;
    border-bottom: 2px solid #566470;
}
#mobile-nav-brain{
  height: 40px;
  margin: 5px;
}
#mobile-nav-buttons-right{
  margin-top: 5px;
}
#mobile-nav-button-search{
  height: 40px;
  margin: 0px 10px;
}
#mobile-nav-button-menu{
  height: 34px;
  margin: 2px 10px;
}
.mobile-nav-button-close{
  height: 34px;
  margin: 3px 14px;
}
#mobile-item-picker{
  width: 100%;
}
#mobile-nav-collapse-menu{
  text-align: left;

}
#mobile-nav-collapse-menu ul{
  padding: 0 !important;
  margin: 0;
}
#mobile-nav-collapse-menu>ul>li{
  border: 1px solid #17191C;
  color: #ffffff;
}
#mobile-nav-collapse-menu>ul>li>*{
  vertical-align: middle;
  margin: 0;
  padding: 7px 15px;
}
#mobile-nav-collapse-menu>ul>li a{
  padding-top: 7px;
  position: relative;
  width: 100%;
  display: inline-block;
}
#mobile-nav-collapse-menu>ul>li span{
  padding-top: 7px;
  position: relative;
  display: inline-block;
}
.mobile-nav-collapse-menu-collapsible ul{
  background-color: #687A89;
  padding: 0;
}
.mobile-nav-collapse-menu-collapsible li{
  border-bottom: 2px solid #5F707E;
  width: 102.5%;
  padding: 3px 0;
  list-style-type: none;
  margin-left: 25px;
}

.box_rotate {
  -webkit-transform: rotate(180deg);  /* Chrome, Safari 3.1+ */
  -moz-transform: rotate(180deg);  /* Firefox 3.5-15 */
  -ms-transform: rotate(180deg);  /* IE 9 */
  -o-transform: rotate(180deg);  /* Opera 10.50-12.00 */
  transform: rotate(180deg);  /* Firefox 16+, IE 10+, Opera 12.50+ */
}
