{% extends 'article/base.html' %}
{% load staticfiles %}

{% block title %}
  Drugs and Me - 404
{% endblock %}


{% block header %}
<style>
  .theme-bg{
    background-color:#EF6767 !important;
  }
  .theme-color{
    color: #EF6767 !important;
  }
  .theme-light-bg{
    background-color: #EF6767 !important;
  }
  .theme-light-color{
    color:#EF6767 !important;
  }
</style>

{% endblock %}


{% block cover %}
<div id="cover" class="col-xs-12 col-md-9" style="background-color: #EF6767; height:300px;">

  <!-- <img src="{% static 'article/images/other-pages/about-illustration.png' %}" style="height:300px;" alt="mdma"> -->
  <div id="cover-text">
    <h1>Oops!</h1>
    <h2>Looks like we don't have the site you're looking for... </h2>
  </div>
</div>
{% endblock %}
{% block content %}
<h3>
  If you feel we're missing something, please drop us a line at
  <a href="mailto:contact@drugsand.me">contact@drugsand.me</a>. We'd love to
  hear any suggestions or remarks.
</h3>
{% endblock %}

{% block cover_background %}
{% endblock %}
