{% extends 'article/base.html' %}
{% load staticfiles %}

{% block title %}
  Drugs and Me - About us
{% endblock %}


{% block header %}
<style>
  .theme-bg{
    background-color:#EF6767 !important;
  }
  .theme-color{
    color: #EF6767 !important;
  }
  .theme-light-bg{
    background-color: #EF6767 !important;
  }
  .theme-light-color{
    color:#EF6767 !important;
  }
</style>

{% endblock %}


{% block cover %}
<div id="cover" class="col-xs-12 col-md-9" style="background-color: #EF6767">

  <img src="{% static 'article/images/other-pages/about-illustration.png' %}" style="height:250px; top: -200px;" alt="about">
  <div id="cover-text">
    <h1>About us</h1>
    <h4>About the project and the team</h4>
  </div>
</div>
{% endblock %}

{% block cover_background %}
  <div class="theme-bg">
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-10" role="main" id="me-content">
    <div class='' id="intro">
      <p>
        <strong>drugsand.me</strong> is an educational website that provides information about existing
        harm reduction methods for drug users. We do not promote drug use, but
        we do encourage you to be safe if you are thinking of taking any kind of
        drug. This website was inspired <a href="/about">by the thousands of
        deaths</a> that occur in the UK due lack of correct drug education.
        While there are websites that already provide information on
        different drugs, we provide a comprehensive, objective, and easy-to-understand
        guide to help you stay safe and be smart when using drugs.
      </p>
      <blockquote cite="http://">
        <p>
          "People will always use drugs. They always have used drugs. We must
          learn to live with this fact."
        </p>
        <footer>
          <a href="http://www.drcarlhart.com/">Dr Carl Hart</a>
        </footer>
      </blockquote>
      <p>
        At drugsand.me we aim to provide an a comprehensive, easy-to-understand
        information hub for everyone who wants to learn how to be safe and smart
        when using drugs. We provide a simple website to find essential information from varied
        sources, including scientists and the online community.
        <br>
        Although we have done thorough research to gather this information, you
        always do your own research and further reading. We encourage you to explore
        the excellent and varied sources that we have linked throughout the site.
      </p>
      <p><strong><small>A word about the information in this website:</small></strong></p>
      <p>
        <strong><small>
        The content in this webpage is obtained, whenever information was
        found, from scientific and evidence-based resources. However, there are
        many gaps where a lot of research needs to be done, not because there
        isn´t interest in the scientific literature, but because drug policies
        limit controlled research on drugs considered as recreational ones.
        Wherever scientific-based information was not found, as many as
        possible resources were compared and contrasted to provide the most
        accurate and useful piece of advice/information.
        </small></strong>
      </p>
      <p>
        drugsand.me supports researchers, institutes and
        foundations that are investing time and money in scientific research
        into psychoactive drugs, working towards improved consciousness and
        health-oriented drug policy reform.
      </p>
      <p>
        Prior knowledge on drugs and other rewarding habits have been shown to
        directly diminish the brain alluring by them, so (most probably) the
        propensity to develop an addiction (
        <a href="http://www.pnas.org/content/112/8/2539">Gut et al, 2015</a>,
        <a href="http://journal.frontiersin.org/article/10.3389/fpsyg.2015.00090/abstract">
          Kirk and Montague, 2015
        </a>).
      </p>
    </div>
    <div id="contact">
      <h2 class="section-title">Contact</h2>
      <p>
        If you would like to provide feedback for the website, collaborate with us,
        contribute to an article, or send ideas and sources, please get in touch
        by emailing <a href="mailto:contact@drugsand.me">contact@drugsand.me</a>
      </p>
      <p>
        If you would like to stay updated about our events, initiatives, and new features of
        the website, please subscribe here:
      </p>
      <!-- Begin MailChimp Signup Form -->
      <link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
      <style type="text/css">
      	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
      	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
      	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
      </style>
      <div id="mc_embed_signup">
        <form action="//drugsand.us12.list-manage.com/subscribe/post?u=27eb6c7445633027c8160efd7&amp;id=63bf3101af" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div id="mc_embed_signup_scroll">
          	<label for="mce-EMAIL">Subscribe to our mailing list</label>
          	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_27eb6c7445633027c8160efd7_63bf3101af" tabindex="-1" value=""></div>
            <div class="text-center clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
          </div>
        </form>
      </div>
      <!--End mc_embed_signup-->
    </div>
  </div>
  <div class="col-md-2" role="complementary">
    <nav id="sidebar" class="nav nav-stacked affix bs-docs-sidebar hidden-print hidden-sm hidden-xs">
      <div class="bigger-sidebar-boxes boxed donate">
        <h3 class=""><a href="/donate">Donate</a></h3>
      </donate>
    </nav>
  </div>
</div>

{% endblock %}
