{% extends 'article/base.html' %}
{% load staticfiles %}

{% block title %}
  Drugs and Me - Alcohol
{% endblock %}


{% block header %}

{% endblock %}

{% block cover_background %}
  <div style="background-color: #7AD1DF">
{% endblock %}

{% block cover %}
<div class="jumbotron">
  <h1>Alcohol</h1>
  <p>
    pretty dope stuff
  </p>
</div>
{% endblock %}

{% block content %}
<div class="row">

  <div class="col-md-9" role="main">
    <h2>Text for title</h2>
    <p>
      Debitis veniam numquam sint voluptatem expedita est occaecati necessitatibus. Iure qui quia culpa. Eveniet quia eum natus consequatur quia accusantium. Et facere repellendus esse non maiores in natus. Temporibus nobis voluptate voluptas. Maxime vel omnis possimus expedita.

Dolores consectetur ratione et in tenetur voluptatibus ratione omnis. Aut rem debitis non. Mollitia sed nihil minima quae reprehenderit laudantium reiciendis minus. Omnis iure voluptate recusandae voluptatum cum nobis dolorem ut. Illo hic voluptas autem maxime ullam nesciunt.

Dolorum ullam autem velit. Esse facere ut ut veritatis in. Quos eos unde officiis aut et ut reiciendis. Voluptatem inventore ut odit laudantium asperiores consectetur sint. Qui id sunt quia temporibus odio.

Numquam sed sit ad architecto non laboriosam. Totam voluptatem veritatis modi possimus. Hic et sint ea.

Eveniet sint commodi nihil accusamus eos et ad exercitationem. Repudiandae necessitatibus voluptatibus dolor et aut quod repudiandae quia. Adipisci eum iusto dolor eveniet laboriosam velit et. Dolor debitis modi placeat soluta commodi culpa reiciendis.
    </p>
  </div>
  <div class="col-md-3" role="complementary">
    <nav class="bs-docs-sidebar hidden-print hidden-sm hidden-xs affix">
      <ul class="nav bs-docs-sidenav">
      <li>Intro</li>
      <li>Effects</li>
      <li>Risks</li>
      <li>Dosage</li>
      <li>Onset</li>
      <li>Interactions</li>
      <li>Facts and Myths</li>
      <li>The Law</li>
      </ul>
    </nav>
  </div>
</div>

{% endblock %}
