{% extends 'article/drug.html' %}
{% load staticfiles %}

{% block title %}
  Drugs and Me - Alcohol
{% endblock %}


{% block header %}
  <style>
    .theme-bg{
      background-color:#00D7E8 !important;
    }
    .theme-color{
      color: #00D7E8 !important;
    }
    .theme-light-bg{
      background-color: #8ACCD5 !important;
    }
    .theme-light-color{
      color:#8ACCD5 !important;
    }
  </style>
  <meta name="drug-name" content="Alcohol">
{% endblock %}


{% block cover-contents %}
  <img class="img-responsive" src="{% static 'article/images/alcohol/alcohol-illustration.png' %}" alt="alcohol">
  <div id="cover-text">
    <h1>Alcohol</h1>
    <h4>Booze, liquor, spirits, wine, beer, cocktails, long drinks</h4>
  </div>
{% endblock %}

{% block intro-content %}
  <p>
    Alcohol, or ethanol, is the most commonly used recreational drug in the world
     due to its legal status in most countries. This allows for labelling of
     alcoholic products by a % alcohol by volume, which allows the person
     drinking it to know if the drink is strong or not. Alcohol has been
     consumed for centuries, however, recent advances in neuroscience show the
     severe consequences of alcohol intoxication.
  </p>
{% endblock %}

{% block intro-content-1 %}
  <h3 class="funky"> Know your limits</h3>
  <p class="hidden">

  </p>
{% endblock %}
{% block intro-content-2 %}
  <h3 class="funky">Careful mixing</h3>
  <p class="hidden">
    If you are mixing with another substance, make sure its not highly <a href="#interactions">dangerous</a>.
  </p>
{% endblock %}
{% block intro-content-3 %}
  <h3 class="funky"> Protection</h3>
  <p class="hidden">
    Always practice safe sex; take a condom with you.
  </p>
{% endblock %}

{% block effects-content %}
  <p>
    Here are the most common effects, not everyone necessarily experiences all
    of them every time they consume the drug and other effects not listed can
    happen.
  </p>
  <div class="text-center">
    <img class="img-responsive" src="{% static 'article/images/alcohol/alcohol-units.png' %}" alt="effects graph">
  </div>
{% endblock %}
{% block effects-list-positive %}
  <li><span>relaxation</span></li>
  <li><span>happiness</span></li>
  <li><span>increased sociability</span></li>
  <li><span>lowered inhibitions</span></li>
{% endblock %}

{% block effects-list-neutral %}
  <li><span>slurred speech</span></li>
  <li><span>flushed skin</span></li>
  <li><span>sleepiness</span></li>
  <li><span>difficult focusing eyes</span></li>
  <li><span>tolerance with repeated use within a few days</span></li>
  <li><span>reduced impulse control</span></li>
{% endblock %}
{% block effects-list-negative %}
  <li><span>decreased coordination</span></li>
  <li><span>
    nausea, vomiting (vomiting while unconscious can kill,
    <a href="http://www.nhs.uk/conditions/accidents-and-first-aid/pages/the-recovery-position.aspx?">position the person in the recovery position</a>)
  </span></li>
  <li><span>reduced ability to judge own impairment</span></li>
  <li><span>emotional volatility (anger, violence, sadness, etc)</span></li>
  <li><span>erectile dysfunction</span></li>
  <li><span>increased difficulty in achieving orgasm in some females</span></li>
  <li><span>frequent urination (more with beer or wine)</span></li>
  <li><span>dizziness and confusion</span></li>
  <li><span>blackouts and memory loss at high doses</span></li>
  <p>
    Source: <a href="https://www.erowid.org/chemicals/alcohol/alcohol_effects.shtml">Erowid</a>
  </p>

{% endblock %}

{% block dose-and-onset-content %}
  <h3>How? How Much? When? For how Long?</h3>
  <p>
    As with any drug, the correct dose for you depends on factors such as
    weight, gender, metabolism, whether you have taken the drug recently or
    not, amongst many others. Read our section on dosing and tolerance in
    <a href="/me">ME</a> for more information.
  </p>
  <h3>How you take it matters...</h3>
  <p>
    The most common method to alcohol consumption is oral, however, recently
    people have been inhaling alcohol as well. If you want to learn more
    about how the method of administration affects you, read
    <a href="/me">ME</a>.
  </p>

  <h3>How much?</h3>
  <p>
    Alcohol is metabolised relatively fast, however, it is more difficult for
    the body to get rid of the toxins with increasing doses. Therefore, we
    suggest to limit your dose if you want to be on the safe side!
  </p>
  <p>
    Men and women are advised not to regularly drink more than <strong>14 units a week</strong>.
    Spread your drinking over three days or more if you drink as much as 14 units a
    week.
  </p>
  <h3>What is a unit in the UK?</h3>
  <div class="text-center">
    <img class="img-responsive" src="{% static 'article/images/alcohol/alcohol-units.png' %}" alt="effects graph">
  </div>
  <p>
    Source: <a href="http://www.nhs.uk/Livewell/alcohol/Pages/alcohol-units.aspx)">NHS</a>
  </p>
  <p>
    <a href="http://drinksmeter.com">Take this quiz</a> to compare the amount you drink to others like you.
  </p>
  <h3>When do the effects kick in?</h3>
  <p>Orally:</p>
  <ul>
    <li>
      <h5>Total duration</h5>
      <p>1.5 - 3 hrs</p>
    </li>
    <li>
      <h5>Onset</h5>
      <p>15 - 30 mins</p>
    </li>
    <li>
      <h5>Coming up</h5>
      <p>15 - 20 mins</p>
    </li>
    <li>
      <h5>Plateau</h5>
      <p>30 - 90 mins</p>
    </li>
    <li>
      <h5>Coming down</h5>
      <p>45 - 60 mins</p>
    </li>
  </ul>
{% endblock%}

{% block interactions-content %}
{% endblock %}

{% block combo-2C-X %}
  <h4 class="funky">LOW RISK & DECREASE</h4>
  <p class="interaction-lowriskd">TEXT A</p>
{% endblock %}

{% block combo-Alcohol %}
  <h4 class="funky">Alcohol</h4>
  <p class="test">Know your limits.</p>
{% endblock %}

{% block combo-Amphetamines %}
  <h4 class="funky">CAUTION</h4>
  <p class="interaction-caution">
    These combinations are not usually physically harmful, but may produce
    undesirable effects, such as physical discomfort or overstimulation. Extreme
    use may cause physical health issues. Synergistic effects may be
    unpredictable. Care should be taken when choosing to use this combination.
  </p>
{% endblock %}

{% block combo-Benzos %}
  <h4 class="funky">DANGEROUS</h4>
  <p class="interaction-dangerous">
    These combinations are considered extremely harmful and should always be
    avoided. Reactions to these drugs taken in combination are highly
    unpredictable and have a potential to cause death.
  </p>
{% endblock %}

{% block combo-Caffeine %}
  <h4 class="funky">LOW RISK & NO SYNERGY</h4>
  <p class="interaction-lowriskns">TEXT E</p>
{% endblock %}

{% block combo-Cannabis %}
<h4 class="funky">LOW RISK & SYNERGY</h4>
<p class="interaction-lowrisks">
  These drugs work together to cause an effect greater than the sum of its parts,
  and they aren't likely to cause an adverse or undesirable reaction when used
  carefully. Additional research should always be done before combining drugs.
</p>
{% endblock %}

{% block combo-Cocaine %}
<h4 class="funky">UNSAFE</h4>
<p class="interaction-unsafe">
  There is considerable risk of physical harm when taking these combinations,
  they should be avoided where possible.
</p>
{% endblock %}

{% block combo-DMT %}
<h4 class="funky">LOW RISK & DECREASE</h4>
<p class="interaction-lowriskd">TEXT E</p>
{% endblock %}

{% block combo-DXM %}
<h4 class="funky">DANGEROUS</h4>
<p class="interaction-dangerous">
  These combinations are considered extremely harmful and should always be
  avoided. Reactions to these drugs taken in combination are highly unpredictable
  and have a potential to cause death.
</p>
{% endblock %}

{% block combo-Ketamine %}
<h4 class="funky">DANGEROUS</h4>
<p class="interaction-dangerous">
  These combinations are considered extremely harmful and should always be
  avoided. Reactions to these drugs taken in combination are highly unpredictable
  and have a potential to cause death.
</p>
{% endblock %}

{% block combo-LSD %}
<h4 class="funky">LOW RISK & DECREASE</h4>
<p class="interaction-lowriskd">TEXT E</p>
{% endblock %}

{% block combo-MDMA %}
<h4 class="funky">CAUTION</h4>
<p class="interaction-caution">
</p>
{% endblock %}

{% block combo-MAOIs %}
<h4 class="funky">UNSAFE</h4>
<p class="interaction-unsafe">
  There is considerable risk of physical harm when taking these combinations,
  they should be avoided where possible.
</p>
{% endblock %}

{% block combo-Mushrooms %}
<h4 class="funky">LOW RISK & DECREASE</h4>
<p class="interaction-lowriskd">TEXT E</p>
{% endblock %}

{% block combo-nos %}
<h4 class="funky">CAUTION</h4>
<p class="interaction-caution">
  These combinations are not usually physically harmful, but may produce
  undesirable effects, such as physical discomfort or overstimulation. Extreme
  use may cause physical health issues. Synergistic effects may be unpredictable.
  Care should be taken when choosing to use this combination.
</p>
{% endblock %}

{% block combo-Opioids %}
<h4 class="funky">LOW RISK & NO SYNERGY</h4>
<p class="interaction-lowriskns">
  Effects are just additive. The combination is unlikely to cause any adverse or
  undesirable reaction beyond those that might ordinarily be expected from these
  drugs.
</p>
{% endblock %}

{% block combo-SSRIs %}
<h4 class="funky">CAUTION</h4>
<p class="interaction-caution">
  These combinations are not usually physically harmful, but may produce
  undesirable effects, such as physical discomfort or overstimulation. Extreme
  use may cause physical health issues. Synergistic effects may be unpredictable.
  Care should be taken when choosing to use this combination.
</p>
{% endblock %}

{% block harm-reduction-content %}
<p>
  There are certain precautions you should take before doing alcohol. The advice
  below helps you to be physically and mentally prepared before doing it.
  Furthermore, we want you to be safe and enjoy your experience as much as
  possible, and just in case you have a bad experience or some of the unwanted
  side effects associated with cocaine, we have also provided information on
  how to take care of yourself when you are in full swing. Finally, there are
  those uncomfortable or undesirable effects after the high have worn out, we
  will provide you with some practical tips on how to have a better calm down
  and help you to reduce the harm done to your body and brain.
</p>
<p>
  Head over to our <a href="/me">ME</a> section if you would like to know more about harm reduction.
</p>
{% endblock %}

{% block harm-reduction-stage-1 %}
<ol>
  <li>Carry condoms.</li>
  <li>
    Eat before you drink and stay hydrated; it can reduce the hangover and
    going over your limit by accident.
  </li>
  <li>Don’t go out drinking alone, this will increase risky behaviour.</li>
</ol>
{% endblock %}

{% block harm-reduction-stage-2 %}
<ol>
  <li>
    Don’t drink and drive. As easy as it sounds, people still do it,
    causing hundreds of thousands of deaths per year.
  </li>
  <li>
    Avoid drinking out of impulse because of reaction to anger, this can lead
    to bad drinking episodes.
  </li>
  <li>
    Control the amount of drinks you have and the speed by which you drink
    them if you are susceptible to blackouts.
  </li>
  <li>
    To control for diseases such as cancer, the best policy isto reduce the
    amount of alcohol that is taken. You can do this by counting the drinks
    you have in a day and set targets to reduce them.
  </li>
  <li>
    Avoid getting drinks spiked with other drugs in
    <a href="http://www.wikihow.com/Avoid-Spiked-Drinks">simple steps</a>
  </li>
</ol>
<h3>In an emergency or overdose</h3>
<ul>
  <li>Stay calm and try to not look anxiousin front of the person</li>
  <li>
    Before approaching or touching the person, explain what you intend todoin
    a direct and reassuring manner.
  </li>
  <li>
    Keep the person still and comfortable. Don't let him/her walk alone.
  </li>
  <li>
    Do not administer any food, drink or medication --including aspirin or
    vitamins --which may cause stomach distress.
  </li>
  <li>Do not ridicule or threaten the person.</li>
  <li>
    Do not let the person sleep on his/her back. Death from choking on
    inhaled vomit may result. Place the person on his/her side, with one arm
    extended above the head. Keep a sober person nearby to watch for signs of
    trouble.
  </li>
</ul>
<p>
  <strong>Important:</strong>Remember, only time will help to sober a person who is
  intoxicated. Walking, black coffee or a cold shower will not help. Drink
  plenty of water to avoid dehydration, and reduce the hangover.
</p>
<h4>Seek medical attention if:</h4>
<ul>
  <li>The person is unconscious and cannot be wakened</li>
  <li>Breathing is irregular and/or shallow</li>
  <li>You suspect alcohol has been mixed with other drugs</li>
  <li>Skin is clammy or pale</li>
  <li>Blood in vomit</li>
</ul>
<p>
  Source: <a href="https://www.erowid.org/chemicals/alcohol/alcohol_health.shtml">Erowid</a>
</p>
{% endblock %}

{% block harm-reduction-stage-3 %}
<p>
  Bad alcohol hangovers are considered tobe worse than the day-after effects of
  nearly any other drug. Alcohol causes liver damage and bad hangovers may
  indicate alcohol toxicity and should be avoided
</p>
<p>
  Occasional drinkers are more likely to get bad hangovers than regular ones.
</p>
<p>
  They usually last for 1-36 hours.
</p>
<p>
  The after effects include:
  <ol>
    <li>Headache</li>
    <li>Bad mood</li>
    <li>Thirst</li>
    <li>Nausea, vomiting, and/or dry-heaves</li>
    <li>Dizziness that becomes worse with movement</li>
    <li>Loud noises and bright lights cause pain/discomfort</li>
    <li>Inability to think clearly </li>
    <li>Muscle fatigue and pain</li>
    <li>Sweating and tremors</li>
  </ol>
  Source: <a href="https://www.erowid.org/chemicals/alcohol/alcohol_hangover.shtml">Erowid</a>
</p>
<p>
  The best way to reduce hangover effects isto drink water before, during and
  after the night. However, this will not completely remove itasitis not just
  caused bydehydration.
</p>
<p>
  Regarding vitamin B supplements, there isno evidence that these actually
  ‘cure’ hangovers, although will probably work as a placebo!
</p>
{% endblock %}

{% block risks-content %}
  <h3>Signs of dependence <small>These are things to watch out for, but definitely do not mean you are addicted to a substance!</small></h3>
  <p>
    Contrary to popular belief, alcohol is an incredibly addictive drug. Please
    read <a href="#dependence">here</a> how you can avoid dependence by changing
    your drinking habits. If you think you might be dependence on alcohol, these
    websites might be useful:
  </p>
  <ul>
    <li><a href="http://www.addaction.org.uk">http://www.addaction.org.uk</a></li>
    <li><a href="http://www.alcoholics-anonymous.org.uk">http://www.alcoholics-anonymous.org.uk</a></li>
  </ul>
  <h3>In the long term...</h3>
  <ul>
    <li>
      <p>
        Increase risk of oral, throat, colon, liver, and breast
        <a href="http://www.ncbi.nlm.nih.gov/pubmed/16557583?dopt=Abstrac">cancer</a>.
      </p>
    </li>
    <li>
      <p>
        <a href="http://www.ncbi.nlm.nih.gov/pubmed/16399153?dopt=Abstract">Cirrhosis</a>
      of the liver
      </p>
    </li>
    <li>
      <p>
        <a href="http://www.ncbi.nlm.nih.gov/pubmed/16737465?dopt=Abstract">Fetal alcohol syndrome</a>
        if used by pregnant women in large quantities
      </p>
    </li>
    <li><p><a href="http://www.ncbi.nlm.nih.gov/pubmed/16481976?dopt=Abstract">Fatty Liver Disease</a></p></li>
    <li>
      <p>Injuries from accidents, falls, motor vehicle accidents, etc.</p>
    </li>
    <li>
      <p>
        <a href="http://www.ncbi.nlm.nih.gov/pubmed/15301405?dopt=Abstract">Coma and death</a>
        at extreme doses
      </p>
    </li>
  </ul>
{% endblock %}

{% block the-law-content %}
  <p>
    Due to its legal status, alcohol consumers wrongly classify the drug as
    ‘safe’, as it has been approved for consumption. The truth is that due to a
    drug safety measure (active dose/lethal dose), we know that alcohol is
    actually one of the most dangerous recreational drugs. Why? This concept
    compares how much you have to drink to get drunk to how much you have to
    drink to die, and <a href="/essentials#harm">alcohol has the highest level</a>.
  </p>
{% endblock %}

{% block more-info-content %}
  <h3>FAQS</h3>
  <h4>Should I consume alcohol to protect from heart problems?</h4>
  <p>
    There is evidence to suggest that low and moderate drinking (i.e., within
    the lower risk guidelines) can protect against coronary heart disease, but
    it is a relatively small effect and it's best to try other safer things
    first.
  </p>
  <p>
    “A healthy diet, taking regular exercise, stopping smoking - you should try
    these things before thinking about using alcohol as a protector against
    coronary heart disease because alcohol can make other problems for you.” says
    <a href="http://www.nhs.uk/Conditions/Coronary-heart-disease/Pages/Prevention.aspx">Professor Wallace</a>.
  </p>
  <h4>Does drinking water cancel out the effects of alcohol?</h4>
  <p>
    Water or soft drinks do not cancel the effects of alcohol, but they do
    however slow down the pace of alcohol intake. Water also helps reducing the
    dehydration, helping the hangover next morning.
  </p>
  <h4>Does mixing drinks makes you more drunk?</h4>
  <p>
    Mixing drinks does not make you hangover as the alcohol content does not
    change. However, mixing can irritate the stomach even more, leading to
    unpleasant side effects.
  </p>
  <h4>Does coffee sober you up?</h4>
  <p>
    Coffee can make you more alert and awake, but does not reduce the effects
    caused by alcohol (see above). This makes drunk driving especially dangerous
    due to the impaired judgement and the perceived state of alertness caused by
    the coffee.
  </p>
  <p>
    Source: <a href=" http://drugscience.org.uk/drugs-info/alcohol/"> http://drugscience.org.uk/drugs-info/alcohol/</a>
  </p>
  <h3>Useful links</h3>
  <ul>
    <li>
      <p><a href="www.joinclubsoda.co.uk ">www.joinclubsoda.co.uk </a></p>
    </li>
  </ul>
{% endblock %}
