{% extends 'article/base.html' %}
{% load staticfiles %}

{% block title %}
  Drugs and Me - Alcohol
{% endblock %}


{% block header %}

{% endblock %}

{% block cover_background %}
  <div style="background-color: #7AD1DF">
{% endblock %}

{% block cover %}
<div class="jumbotron">
  <h1>Alcohol</h1>
  <p>
    pretty dope stuff
  </p>
</div>
{% endblock %}

{% block content %}
<div class="row">

  <div class="col-md-9" role="main">
  </div>
  <div class="col-md-3" role="complementary">
    <nav class="bs-docs-sidebar hidden-print hidden-sm hidden-xs affix">
      <ul class="nav bs-docs-sidenav">
      <li>Intro</li>
      <li>Effects</li>
      <li>Risks</li>
      <li>Dosage</li>
      <li>Onset</li>
      <li>Interactions</li>
      <li>Facts and Myths</li>
      <li>The Law</li>
      </ul>
    </nav>
  </div>
</div>

{% endblock %}
