<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="description" content="    Drugsand.me is an educational website that teaches about the existing harm reduction methods for drug users. We do not promote drug use, but we do encourage to be safe if you are thinking of taking any kind of drug. This website was inspired by the thousands of deaths that occur in the UK due to lack of correct drug education.">
    <meta name="keywords" content="Drugs and me, Drugs, drugsandme, harm reduction, Cannabis, Cocaine, MDMA, drug">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Bootstrap core CSS -->
    <!-- <link rel="icon" href="../../favicon.ico"> -->

    <title>{% block title %} {% endblock %}</title>
    {% load staticfiles %}
    <!--  START Favicons  -->

   <link rel="apple-touch-icon" sizes="57x57" href="{% static 'article/images/favicons/apple-icon-57x57.png' %}">
   <link rel="apple-touch-icon" sizes="60x60" href="{% static 'article/images/favicons/apple-icon-60x60.png' %}">
   <link rel="apple-touch-icon" sizes="72x72" href="{% static 'article/images/favicons/apple-icon-72x72.png' %}">
   <link rel="apple-touch-icon" sizes="76x76" href="{% static 'article/images/favicons/apple-icon-76x76.png' %}">
   <link rel="apple-touch-icon" sizes="114x114" href="{% static 'article/images/favicons/apple-icon-114x114.png' %}">
   <link rel="apple-touch-icon" sizes="120x120" href="{% static 'article/images/favicons/apple-icon-120x120.png' %}">
   <link rel="apple-touch-icon" sizes="144x144" href="{% static 'article/images/favicons/apple-icon-144x144.png' %}">
   <link rel="apple-touch-icon" sizes="152x152" href="{% static 'article/images/favicons/apple-icon-152x152.png' %}">
   <link rel="apple-touch-icon" sizes="180x180" href="{% static 'article/images/favicons/apple-icon-180x180.png' %}">
   <link rel="icon" type="image/png" sizes="32x32" href="{% static 'article/images/favicons/favicon-32x32.png' %}">
   <link rel="shortcut icon" href="{% static 'article/images/favicons/favicon.ico' %}" type="image/x-icon">

   <link rel="manifest" href="{% static 'article/images/favicons/manifest.json' %}">
   <meta name="msapplication-TileColor" content="#ffffff">
   <meta name="msapplication-TileImage" content="{% static 'article/images/favicons/ms-icon-144x144.png' %}">
   <meta name="theme-color" content="#ffffff">
   <!--  END Favicons  -->


    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{% static 'article/css/bootstrap.min.css'%}">
    <!-- <script src="{% static 'article/js/libraries/jquery.min.js' %}"> </script> -->
    <script src="{% static 'article/js/libraries/jquery.min.js' %}" charset="utf-8"></script>
    <script src="{% static 'article/js/bootstrap.js' %}"> </script>
    <script src="{% static 'article/js/main.js' %}"> </script>
    <link rel="stylesheet" type="text/css" href="{% static 'article/css/main.css' %}">
    <style media="screen">
      @font-face {
        font-family: Bebas Neue;
        src: url({% static 'article/fonts/BebasNeue.otf' %});
      }
    </style>

    <!--  Cookies Warning  -->
    <script type="text/javascript" src="//cdn.jsdelivr.net/cookie-bar/1/cookiebar-latest.min.js?thirdparty=1&amp;always=1&amp;showNoConsent=1"></script>

    <!-- Google analytics-->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-73235857-1', 'auto');
      ga('send', 'pageview');
    </script>
    <link href="http://cdn.jsdelivr.net/cookie-bar/1/cookiebar.min.css" rel="stylesheet">

      <!--  JS Libraries -->
     <script src="//www.google-analytics.com/analytics.js" async=""></script>

    {% block header %} {% endblock %}
  </head>


  <body>
    <div class="site-wrapper">
      {% block cover_background %} {% endblock %}
        <div class="cover-container site-wrapper-inner">
          <div class="masthead clearfix" id="navbar">

            <div class="inner hidden-xs">
              <nav>
                <ul class="nav">
                  <li class="nav-left">
                    <a href="/"><img id="home-top-left" src="{% static '/article/images/dnme-top-left.png' %}" alt="" /></a>
                  </li>
                  <li class="nav-right" id="search">
                    <div id="social-search">
                      <a class="" href="https://facebook.com/"><div class="nav-social-icon boxed"><img class="img-responsive" src="{% static 'article/images/icons/social-icon-facebook.png' %}" alt="facebook"></div></a>
                      <a class="" href="https://twitter.com/drugsandmefacts"><div class="nav-social-icon boxed"><img class="img-responsive" id="twitter-social-icon" src="{% static 'article/images/icons/social-icon-twitter.png' %}" alt="twitter"></div></a>
                      <a class="" href="https://linkdin.com/"><div class="nav-social-icon boxed"><img class="img-responsive" src="{% static 'article/images/icons/social-icon-linkdin.png' %}" alt="linkdin"></div></a>

                    </div>
                    <!-- START SEARCH ----------------------------------------->
                    <div id="search-bar">
                      <div class="has-feedback">
                        <input id="mobile-searchText" type="text" class=" searchtext form-control boxed searchbarbox" placeholder="search" onfocus="this.placeholder=''" onblur="this.placeholder='search'"/>
                        <i class="glyphicon glyphicon-search form-control-feedback text-right"></i>
                      </div>

                      <div id="item-picker" class="item-picker hidden pull-left">
                        <div class="item alcohol">
                          <a href="/alcohol" class="item-link">
                            <h5 class="item-name hidden">Alcohol</h5>
                          </a>
                          <ul>
                            <li class="tag">wine</li>
                            <li class="tag">beer</li>
                            <li class="tag">booze</li>
                            <li class="tag">alcohol</li>
                          </ul>
                        </div>
                        <div class="item cannabis">
                          <a href="/cannabis" class="item-link">
                            <h5 class="item-name hidden">Cannabis</h5>
                          </a>
                          <ul>
                            <li class="tag">ganja</li>
                            <li class="tag">skunk</li>
                            <li class="tag">marihuana</li>
                            <li class="tag">mary jane</li>
                            <li class="tag">grass</li>
                            <li class="tag">pot</li>
                            <li class="tag">dank</li>
                            <li class="tag">chronic</li>
                            <li class="tag">resin</li>
                            <li class="tag">weed</li>
                            <li class="tag">buds</li>
                            <li class="tag">kush</li>
                            <li class="tag">cannabis</li>
                          </ul>
                        </div>
                        <div class="item cocaine">
                          <a href="/cocaine" class="item-link">
                            <h5 class="item-name hidden">Cocaine</h5>
                          </a>
                          <ul>
                            <li class="tag">white</li>
                            <li class="tag">coke</li>
                            <li class="tag">snow</li>
                            <li class="tag">speedball</li>
                            <li class="tag">dust</li>
                            <li class="tag">nose candy</li>
                            <li class="tag">flake</li>
                            <li class="tag">cocaine</li>
                          </ul>
                        </div>
                        <div class="item ketamine">
                          <a href="/lsd" class="item-link">
                            <h5 class="item-name hidden">Ketamine</h5>
                          </a>
                          <ul>
                            <li class="tag">Special K</li>
                            <li class="tag">Kit Kat</li>
                            <li class="tag">Kay</li>
                            <li class="tag">Ketamine</li>
                          </ul>
                        </div>
                        <div class="item lsd">
                          <a href="/lsd" class="item-link">
                            <h5 class="item-name hidden">LSD</h5>
                          </a>
                          <ul>
                            <li class="tag">lysergic acid diethylamide</li>
                            <li class="tag">tab</li>
                            <li class="tag">acid</li>
                            <li class="tag">lucy</li>
                            <li class="tag">LSD</li>
                          </ul>
                        </div>
                        <div class="item mdma">
                          <a href="/mdma" class="item-link">
                            <h5 class="item-name hidden">MDMA</h5>
                          </a>
                          <ul>
                            <li class="tag">X</li>
                            <li class="tag">XTC</li>
                            <li class="tag">E</li>
                            <li class="tag">molly</li>
                            <li class="tag">mandy</li>
                            <li class="tag">ecstasy</li>
                            <li class="tag">MDMA</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <!-- END SEARCH-->
                  </li>
                </ul>
              </nav>
            </div>
            <!--  Navbar for mobile -->
            <div class="visible-xs">
              <ul class="nav visible-xs">
                <li class="pull-left">
                  <a href="/"><img id="mobile-nav-brain" src="{% static 'article/images/icons/brain.png' %}" alt="Drugs and Me" /> </a>
                </li>
                <li id="mobile-nav-buttons-right" class="pull-right">
                  <div class="mobile-nav-button">
                    <img class="img-responsive mobile-nav-button-search" id="mobile-nav-button-search" src="{% static 'article/images/icons/search.png' %}" alt="Search" />
                    <img class="img-responsive mobile-nav-button-search mobile-nav-button-close hidden" id="mobile-nav-button-search-close" src="{% static 'article/images/icons/close.png' %}" alt="Close search" />
                  </div>
                  <div class="mobile-nav-button">
                    <img class="img-responsive mobile-nav-button-menu" id="mobile-nav-button-menu" src="{% static 'article/images/icons/menu.png' %}" alt="Menu" />
                    <img class="img-responsive mobile-nav-button-menu mobile-nav-button-close hidden" id="mobile-nav-button-menu-close" src="{% static 'article/images/icons/close.png' %}" alt="Close menu" />
                  </div>
                </li>
              </ul>
              <div id="mobile-nav-collapse" class="hidden">
                <div id="mobile-nav-collapse-search" class="hidden">
                  <!-- START SEARCH ----------------------------------------->
                  <div id="mobile-search-bar">
                    <div class="has-feedback">
                      <input id="searchText" type="text" class=" searchtext form-control searchbarbox" placeholder="search" onfocus="this.placeholder=''" onblur="this.placeholder='search'"/>
                      <i class="glyphicon glyphicon-search form-control-feedback text-right"></i>
                    </div>

                    <div id="mobile-item-picker" class="item-picker hidden pull-left">
                      <div class="item alcohol">
                        <a href="/alcohol" class="item-link">
                          <h5 class="item-name hidden">Alcohol</h5>
                        </a>
                        <ul>
                          <li class="tag">wine</li>
                          <li class="tag">beer</li>
                          <li class="tag">booze</li>
                          <li class="tag">alcohol</li>
                        </ul>
                      </div>
                      <div class="item cannabis">
                        <a href="/cannabis" class="item-link">
                          <h5 class="item-name hidden">Cannabis</h5>
                        </a>
                        <ul>
                          <li class="tag">ganja</li>
                          <li class="tag">skunk</li>
                          <li class="tag">marihuana</li>
                          <li class="tag">mary jane</li>
                          <li class="tag">grass</li>
                          <li class="tag">pot</li>
                          <li class="tag">dank</li>
                          <li class="tag">chronic</li>
                          <li class="tag">resin</li>
                          <li class="tag">weed</li>
                          <li class="tag">buds</li>
                          <li class="tag">kush</li>
                          <li class="tag">cannabis</li>
                        </ul>
                      </div>
                      <div class="item cocaine">
                        <a href="/cocaine" class="item-link">
                          <h5 class="item-name hidden">Cocaine</h5>
                        </a>
                        <ul>
                          <li class="tag">white</li>
                          <li class="tag">coke</li>
                          <li class="tag">snow</li>
                          <li class="tag">speedball</li>
                          <li class="tag">dust</li>
                          <li class="tag">nose candy</li>
                          <li class="tag">flake</li>
                          <li class="tag">cocaine</li>
                        </ul>

                      </div>
                      <div class="item mdma">
                        <a href="/mdma" class="item-link">
                          <h5 class="item-name hidden">MDMA</h5>
                        </a>
                        <ul>
                          <li class="tag">X</li>
                          <li class="tag">XTC</li>
                          <li class="tag">E</li>
                          <li class="tag">molly</li>
                          <li class="tag">mandy</li>
                          <li class="tag">ecstasy</li>
                          <li class="tag">MDMA</li>
                        </ul>

                      </div>
                    </div>
                  </div>
                  <!-- END SEARCH-->
                </div>
                <div id="mobile-nav-collapse-menu" class="hidden">
                  <ul>
                    <li><a href="/">Home</a></li>
                    <li id="mobile-nav-collapse-menu-drugs-collapse" class="mobile-nav-collapse-menu-collapsible">
                      <span>Drugs</span> <img src="{% static 'article/images/icons/down.png' %}" alt="" class="pull-right img-responsive">
                      <ul class="hidden">
                        <li><a href="/alcohol">Alcohol</a></li>
                        <li><a href="/cannabis">Cannabis</a></li>
                        <li><a href="/cocaine">Cocaine</a></li>
                        <li><a href="/mdma">MDMA</a></li>
                      </ul>
                    </li>
                    <li><a href="/me">Me</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="/donate">Donate</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
            <div class="inner cover">
              {% block cover %} {% endblock %}
            </div>
          </div>
        </div>
        <div id="content" class=" container-fluid site-wrapper-inner">
          {% block content %} {% endblock %}
        </div>

      </div>
      <nav id="footer">
        <ul class="nav" id="footer-wrapper">
          <li class="nav-left">
            <p>
              Copyright (c) 2016. All rights reserved
            </p>
          </li>
          <li class="nav-right" id="footer-links">
            <ul class="list-inline">
              <li><a href="/disclaimer">Disclaimer</a></li>
              <li><a href="/about">About us</a></li>
              <li><a href="/about#contact">Contact us</a></li>
            </ul>
          </li>
        </ul>

        </div>
      </nav>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Latest compiled and minified CSS -->
    <!-- Placed at the end of the document so the pages load faster -->

    <!-- <script>window.jQuery || document.write('<script src="{% static 'article/js/libraries/jquery.min.js' %}"><\/script>')</script> -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!-- <script src="{% static 'article/js/ie10-viewport-bug-workaround.js'}"></script> -->
  </body>
</html>
