<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Bootstrap core CSS -->
    <!-- <link rel="icon" href="../../favicon.ico"> -->

    <title>{% block title %} {% endblock %}</title>

    <!-- Custom styles for this template -->
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'article/css/bootstrap.min.css'%}">
    <!-- <script src="{% static 'article/js/libraries/jquery.min.js' %}"> </script> -->
    <script src="http://code.jquery.com/jquery-latest.min.js" charset="utf-8"></script>
    <script src="{% static 'article/js/bootstrap.js' %}"> </script>
    <script src="{% static 'article/js/main.js' %}"> </script>
    <link rel="stylesheet" type="text/css" href="{% static 'article/css/main.css' %}">
    {% block header %} {% endblock %}
  </head>


  <body>
    <div class="site-wrapper">
      {% block cover_background %} {% endblock %}
        <div class="cover-container site-wrapper-inner">
          <div class="masthead clearfix">
            <div class="inner">
              <nav>
                <ul class="nav">
                  <li class="nav-left">
                    <div id="about" class>
                      <h3 class="boxed">about</h3>
                    </div>
                  </li>
                  <li class="nav-right" id="search">
                    <div id="social-search">
                      <div class="search-button"><a href="https://facebook.com/"><img src="{% static 'article/images/search-Facebook.png' %}" alt="facebook"></a></div>
                      <div class="search-button"><a href="https://twitter.com/"><img src="{% static 'article/images/search-Twitter.png' %}" alt="twitter"></a></div>

                    </div>
                    <!-- START SEARCH ----------------------------------------->
                    <div id="search">
                      <input id="searchText" class="boxed "placeholder="search"onfocus="this.placeholder=''" onblur="this.placeholder='search'"/>
                      <!-- <i class="glyphicon glyphicon-search"></i> -->
                      <div id="item-picker" class="hidden pull-left">
                        <div class="item">
                          <a href="alcohol.html" class="item-link">
                            <h5 class="item-name hidden">Alcohol</h5>
                          </a>
                          <ul>
                            <li class="tag">wine</li>
                            <li class="tag">beer</li>
                            <li class="tag">booze</li>
                            <li class="tag">alcohol</li>
                          </ul>
                        </div>
                        <div class="item">
                          <a href="cannabis.html" class="item-link">
                            <h5 class="item-name hidden">Cannabis</h5>
                          </a>
                          <ul>
                            <li class="tag">ganja</li>
                            <li class="tag">skunk</li>
                            <li class="tag">marihuana</li>
                            <li class="tag">mary jane</li>
                            <li class="tag">grass</li>
                            <li class="tag">pot</li>
                            <li class="tag">dank</li>
                            <li class="tag">chronic</li>
                            <li class="tag">resin</li>
                            <li class="tag">weed</li>
                            <li class="tag">buds</li>
                            <li class="tag">kush</li>
                            <li class="tag">cannabis</li>
                          </ul>
                        </div>
                        <div class="item">
                          <a href="cocaine.html" class="item-link">
                            <h5 class="item-name hidden">Cocaine</h5>
                          </a>
                          <ul>
                            <li class="tag">white</li>
                            <li class="tag">coke</li>
                            <li class="tag">snow</li>
                            <li class="tag">speedball</li>
                            <li class="tag">dust</li>
                            <li class="tag">nose candy</li>
                            <li class="tag">flake</li>
                            <li class="tag">cocaine</li>
                          </ul>

                        </div>
                        <div class="item">
                          <a href="mdma.html" class="item-link">
                            <h5 class="item-name hidden">MDMA</h5>
                          </a>
                          <ul>
                            <li class="tag">X</li>
                            <li class="tag">XTC</li>
                            <li class="tag">E</li>
                            <li class="tag">molly</li>
                            <li class="tag">mandy</li>
                            <li class="tag">ecstasy</li>
                            <li class="tag">MDMA</li>
                          </ul>

                        </div>
                      </div>
                    </div>
                    <!-- END SEARCH-->
                  </li>
                </ul>
              </nav>
            </div>
          </div>
            <div class="inner cover site-wrapper-inner">
              {% block cover %} {% endblock %}
            </div>
          </div>
        </div>
        <div id="content" class="site-wrapper-inner">
          {% block content %} {% endblock %}
        </div>

      </div>
      <nav id="footer">
        <ul class="nav" id="footer-wrapper">
          <li class="nav-left">
            <p>
              Copyright (c) 2016. All rights reserved
            </p>
          </li>
          <li class="nav-right" id="footer-links">
            <ul class="list-inline">
              <li><a href="#">Disclaimer</a></li>
              <li><a href="#">About us</a></li>
              <li><a href="#">Contact us</a></li>
            </ul>
          </li>
        </ul>

        </div>
      </nav>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Latest compiled and minified CSS -->
    <!-- Placed at the end of the document so the pages load faster -->

    <!-- <script>window.jQuery || document.write('<script src="{% static 'article/js/libraries/jquery.min.js' %}"><\/script>')</script> -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!-- <script src="{% static 'article/js/ie10-viewport-bug-workaround.js'}"></script> -->
  </body>
</html>
