{% extends 'article/drug.html' %}
{% load staticfiles %}

{% block title %}
  Drugs and Me - Cannabis
{% endblock %}

{% block header %}
  <style>
    .theme-bg{
      background-color:#56C18A !important;
    }
    .theme-color{
      color: #56C18A !important;
    }
    .theme-light-bg{
      background-color: #56C18A !important;
    }
    .theme-light-color{
      color:#56C18A !important;
    }
  </style>

  <meta name="drug-name" content="Cannabis">
{% endblock %}


{% block cover-contents %}
  <img src="{% static 'article/images/cannabis/cannabis-illustration.png' %}" alt="cannabis">
  <div id="cover-text">
    <h1>Cannabis</h1>
    <h4>Weed, Marihuana, Mary Jane, Dope, Ganja</h4>
  </div>
{% endblock %}

{% block intro-content %}
  <p>
    MDMA is a stimulant-hallucinogenic research chemical. MDMA is not the same
    drug as ecstasy. Ecstasy is usually combined with other substances, from
    caffeine to amphetamine!
  </p>
{% endblock %}

{% block intro-content-1 %}
  <h3 class="funky">Don't redose too soon</h3>
  <p class="hidden">
    the same stuff might take you 3 hours to come up, and 30 mins for someone
    else. Wait to come up and then decide whether you want to redose.
  </p>
{% endblock %}
{% block intro-content-2 %}
  <h3 class="funky"> Drink water</h3>
  <p class="hidden">
    But not too much (250-500ml per hour)
  </p>
{% endblock %}
{% block intro-content-3 %}
  <h3 class="funky">Take breaks</h3>
  <p class="hidden">
    Take a break from dancing from time to time to cool down.
  </p>
{% endblock %}


{% block effects-content %}
  <p>
    Here are the most common effects, not everyone necessarily experiences all
    of them every time they consume the drug and other effects not listed might
    be felt. <strong>Remember that negative side effects increase with higher doses.</strong>
  </p>
{% endblock %}

{% block effects-list-positive %}
  <li><span>Mood lift (mild to extreme)</span></li>
  <li><span>Talkative and sociable</span></li>
  <li><span>Increase in energy</span></li>
  <li><span>Feelings of comfort and belonging</span></li>
  <li><span>Increased empathy</span></li>
  <li><span>Increased appreciation of music</span></li>
  <li><span>Increase in the pleasure from the sense of touch </span></li>
{% endblock %}

{% block effects-list-neutral %}
  <li><span>Decreased appetite</span></li>
  <li><span>Visual distortion: mild hallucinations</span></li>
  <li><span>Rapid involuntary eye jiggling</span></li>
  <li><span>Restlessness, nervousness and shivering</span></li>
  <li><span>Change in body temperature regulation (Tip: go outside or sit down to cool down from dancing)</span></li>
  <li><span>Unexpected emotions</span></li>
  <li><span>
    Strong desire to do or want more when coming down (Tip: after a certain
    amount when coming down, you will not feel any positive effects, only
    worsening the hangover. Abstain from redosing at the end of the night.)
  </span></li>
{% endblock %}
{% block effects-list-negative %}
  <li><span>
    Mild to extreme jaw clenching, tongue and cheek chewing, and teeth grinding
    (Tip: use chewing gum to avoid teeth grinding and try magnesium tablets to
    reduce clenching)
  </span></li>
  <li><span>Difficulty concentrating</span></li>
  <li><span>Impaired ability to focus eyes / blurred vision</span></li>
  <li><span>Inability to fall asleep when physically tired</span></li>
  <li><span>Erectile dysfunction and difficulty reaching orgasm</span></li>
  <li><span>
    Increase in body temperature, dehydration
    (Tip: drink water 500ml/hour excessive water decreases salts in the body, but
    be careful not to drink too much water)
  </span></li>
  <li><span>Nausea and vomiting</span></li>
{% endblock %}

{% block dose-and-onset-content %}
  <h3>How? How much? When? For how long?</h3>
  <div class="side-note">
    <p>
      Read our section on dosing and tolerance in <a href="/me">ME</a> for more
      information.
    </p>
  </div>
  <p>
    As with any drug, the correct dose for you depends on factors such as
    weight, gender, metabolism, whether you have taken the drug recently or
    not, amongst many others.
  </p>
  <h3>How you take it matters...</h3>
  <p>
    MDMA usually comes in a powder or pill form, and is ingested orally.
    However, it is also sometimes taken nasally, but this is not recommended,
    as it decreases the length of the experience, cause nasal pain and can
    cause a more severe comedown.
  </p>
  <h3>How much?</h3>
  <ul>
    <li>
      <span><strong>Small/sensitive people:</strong> 60-90mg</span>
    </li>
    <li>
      <span><strong>Most people:</strong> 75-125mg</span>
    </li>
    <li>
      <span><strong>Large/less sensitive people:</strong> 110-150mg</span>
    </li>
    <li>
      <span><strong>Strong:</strong> 150-200mg</span>
    </li>
    <li>
      <span><strong>Heavy:</strong> 200mg+</span>
    </li>
  </ul>
  <p>
    Source: <a href="https://www.erowid.org/chemicals/mdma/mdma_dose.shtml">https://www.erowid.org/chemicals/mdma/mdma_dose.shtml</a>
  </p>
  <p>
    Guideline by body weight: 0.7mg/lb, or 1.54mg/kg
  </p>
  <p>
    Optional Redose: 1/2 of the original dose, 2-3 hours in.
  </p>
  <p>
    Source: <a href="http://www.rollsafe.org">rollsafe.org</a>
  </p>
  <h3>When do the effect kick in and for how long?</h3>
  <p>
    Timeline for MDMA taken orally:
  </p>
  <ul>
    <li>
      <span><strong>Onset:</strong> 20-70 minutes (depending on form and stomach
        contents)</span>
    </li>
    <li>
      <span><strong>Duration:</strong> 3-5 hours</span>
    </li>
    <li>
      <span><strong>Normal after effects:</strong> Up to 24 hours after</span>
    </li>
  </ul>
  <p>
    Source: <a href="https://www.erowid.org/chemicals/mdma/mdma_effects.shtml">https://www.erowid.org/chemicals/mdma/mdma_effects.shtml</a>
  </p>
  <p>
    <strong>Warning:</strong> pills in the UK and Europe contain a very high content of
    MDMA, this can lead to accidental overdoses. Try half a pill first as it
    might have much more MDMA than you expected.
  </p>
  <h3>How often can I take it?</h3>
  <p>
    <a href="https://www.globaldrugsurvey.com/dosing-for-pleasure-and-why-less-is-often-more/">
      Just like taking too much, too often also seems to produce an irreversible
      loss of effects suggesting some sort of damage.
    </a>
  </p>
  <p>
    It is recommended that you leave at least a month between uses, ideally 2-3.
    Having MDMA as a "special occasions only" sort of thing makes it
    surprisingly easy to use sparingly.
  </p>
  <p>
    Source: <a href="http://www.reddit.com/r/Drugs/comments/xihdo/ rdrugs_ama_series_mdma_aka_ecstasy_e_x_molly/ ">http://www.reddit.com/r/Drugs/comments/xihdo/ rdrugs_ama_series_mdma_aka_ecstasy_e_x_molly/ </a>
  </p>
{% endblock %}


{% block interactions-content %}
  <p>
    Interactions with alcohol becomes more dangerous with dose – being tipsy
    won’t be incredibly dangerous, but avoid consuming large amounts of alcohol
    at the same time.
  </p>

{% endblock %}

{% block combo-2C-X %}
  <h4 class="funky">CAUTION</h4>
  <p class="interaction-caution">
    These combinations are not usually physically harmful, but may produce
    undesirable effects, such as physical discomfort or overstimulation. Extreme
    use may cause physical health issues. Synergistic effects may be unpredictable.
    Care should be taken when choosing to use this combination.
  </p>
{% endblock %}

{% block combo-Alcohol %}
  <h4 class="funky">LOW RISK & SYNERGY</h4>
  <p class="interaction-lowrisks">
    These drugs work together to cause an effect greater than the sum of its parts,
    and they aren't likely to cause an adverse or undesirable reaction when used
    carefully. Additional research should always be done before combining drugs.
  </p>
{% endblock %}

{% block combo-Amphetamines %}
  <h4 class="funky">CAUTION</h4>
  <p class="interaction-caution">
    These combinations are not usually physically harmful, but may produce
    undesirable effects, such as physical discomfort or overstimulation. Extreme
    use may cause physical health issues. Synergistic effects may be unpredictable.
    Care should be taken when choosing to use this combination.
  </p>
{% endblock %}

{% block combo-Benzos %}
  <h4 class="funky">LOW RISK & DECREASE</h4>
  <p class="interaction-lowriskd">
    Combining these drugs can be very risky since they counteract their effects.
    Effects for both drugs are reduced, making it easier to overdoses since
    your 'psychological baseline' is shifted to what you are used to.
  </p>
{% endblock %}

{% block combo-Caffeine %}
  <h4 class="funky">LOW RISK & NO SYNERGY</h4>
  <p class="interaction-lowriskns">
    Effects are just additive. The combination is unlikely to cause any adverse or
    undesirable reaction beyond those that might ordinarily be expected from these
    drugs.
  </p>
{% endblock %}

{% block combo-Cannabis %}
<h4 class="funky">CANNABIS</h4>
<p class="">
  Take care.
</p>
{% endblock %}

{% block combo-Cocaine %}
<h4 class="funky">CAUTION</h4>
<p class="interaction-caution">
  These combinations are not usually physically harmful, but may produce
  undesirable effects, such as physical discomfort or overstimulation. Extreme
  use may cause physical health issues. Synergistic effects may be unpredictable.
  Care should be taken when choosing to use this combination.
</p>
{% endblock %}

{% block combo-DMT %}
<h4 class="funky">CAUTION</h4>
<p class="interaction-caution">
  These combinations are not usually physically harmful, but may produce
  undesirable effects, such as physical discomfort or overstimulation. Extreme
  use may cause physical health issues. Synergistic effects may be unpredictable.
  Care should be taken when choosing to use this combination.
</p>
{% endblock %}

{% block combo-DXM %}
<h4 class="funky">LOW RISK & SYNERGY</h4>
<p class="interaction-lowrisks">
  These drugs work together to cause an effect greater than the sum of its parts,
  and they aren't likely to cause an adverse or undesirable reaction when used
  carefully. Additional research should always be done before combining drugs.
</p>
{% endblock %}

{% block combo-Ketamine %}
<h4 class="funky">LOW RISK & SYNERGY</h4>
<p class="interaction-lowrisks">
  These drugs work together to cause an effect greater than the sum of its parts,
  and they aren't likely to cause an adverse or undesirable reaction when used
  carefully. Additional research should always be done before combining drugs.
</p>
{% endblock %}

{% block combo-LSD %}
<h4 class="funky">CAUTION</h4>
<p class="interaction-caution">
  These combinations are not usually physically harmful, but may produce
  undesirable effects, such as physical discomfort or overstimulation. Extreme
  use may cause physical health issues. Synergistic effects may be unpredictable.
  Care should be taken when choosing to use this combination.
</p>
{% endblock %}

{% block combo-MDMA %}
<h4 class="funky">LOW RISK & SYNERGY</h4>
<p class="interaction-lowrisks">
  These drugs work together to cause an effect greater than the sum of its parts,
  and they aren't likely to cause an adverse or undesirable reaction when used
  carefully. Additional research should always be done before combining drugs.
</p>
{% endblock %}

{% block combo-MAOIs %}
<h4 class="funky">LOW RISK & SYNERGY</h4>
<p class="interaction-lowrisks">
  These drugs work together to cause an effect greater than the sum of its parts,
  and they aren't likely to cause an adverse or undesirable reaction when used
  carefully. Additional research should always be done before combining drugs.
</p>
{% endblock %}

{% block combo-Mushrooms %}
<h4 class="funky">CAUTION</h4>
<p class="interaction-caution">
  These combinations are not usually physically harmful, but may produce
  undesirable effects, such as physical discomfort or overstimulation. Extreme
  use may cause physical health issues. Synergistic effects may be unpredictable.
  Care should be taken when choosing to use this combination.
</p>
{% endblock %}

{% block combo-nos %}
<h4 class="funky">LOW RISK & SYNERGY</h4>
<p class="interaction-lowrisks">
  These drugs work together to cause an effect greater than the sum of its parts,
  and they aren't likely to cause an adverse or undesirable reaction when used
  carefully. Additional research should always be done before combining drugs.
</p>
{% endblock %}

{% block combo-Opioids %}
<h4 class="funky">LOW RISK & SYNERGY</h4>
<p class="interaction-lowrisks">
  These drugs work together to cause an effect greater than the sum of its parts,
  and they aren't likely to cause an adverse or undesirable reaction when used
  carefully. Additional research should always be done before combining drugs.
</p>
{% endblock %}

{% block combo-SSRIs %}
<h4 class="funky">LOW RISK & NO SYNERGY</h4>
<p class="interaction-lowriskns">
  Effects are just additive. The combination is unlikely to cause any adverse or
  undesirable reaction beyond those that might ordinarily be expected from these
  drugs.
</p>

{% endblock %}


{% block harm-reduction-content %}
  <p class="side-note">
    Head over to our <a href="/me">ME</a> section if you would like to know
    more about harm reduction.
  </p>
  <p>
  There are certain precautions you should take before doing MDMA. The advice
  below helps you to be physically and mentally prepared before doing it.
  Furthermore, we want you to be safe and enjoy your experience as much as
  possible, and just in case you have a bad experience or some of the unwanted
  side effects associated with cocaine, we have also provided information on
  how to take care of yourself when you are in full swing. Finally, there are
  those uncomfortable or undesirable effects after the high have worn out, we
  will provide you with some practical tips on how to have a better calm down
  and help you to reduce the harm done to your body and brain.
  </p>
{% endblock %}

{% block harm-reduction-stage-1 %}
<h3>Test the drug</h3>
<p>
  Drug dealers want to make the most profit out of their drugs, and they mix
  them with many chemicals, from caffeine to methamphetamine. If you want to
  stay safe, and know what is in your pill, use  test kits
  to test for the purity of your pill. Otherwise, you can send a sample to
  these places to have them test for you for free.
</p>
<p>
  Accidental deaths have occurred due to ingesting compounds such as
  <a href="http://www.theguardian.com/society/shortcuts/2013/jul/22/pma-not-another-drug-scare-story">PMMA in a pill that was thought to be MDMA</a>.
  We know some people cannot be bothered to test, but it is becoming
  increasingly important to do this in order to stay safe.
</p>
{% endblock %}

{% block harm-reduction-stage-2 %}
  <h3>Take a break from dancing</h3>
  <p>
    MDMA increases your body temperature, and so does dancing. These combined
    can lead to heat stroke, so take a break from dancing from time to time to
    cool down.
  </p>
  <h3>Avoid redosing</h3>
  <p>
    A common mistake which can lead to a bad time or even to hospitalisation,
    is taking another dose of MDMA because the first one did not have an effect.
    This leads to ‘coming up’ twice as much, which is very dangerous. MDMA
    takes a long time to digest and absorb, so be patient, and wait for it to
    kick in.
  </p>
  <h3>Emergency/Overdose</h3>
  <p>
    How to know if someone took an overdose:
  </p>
  <ul>
    <li>
      <p>Vomiting</p>
    </li>
    <li>
      <p>Headaches</p>
    </li>
    <li>
      <p>Dizziness</p>
    </li>
    <li>
      <p>
        Serotonin syndrome: Increased heart rate, shivering, twitching,
        over-responsive reflexes, extremely high temperatures
      </p>
    </li>
  </ul>
  <p>
    Do not doubt to call a paramedic if you feel any of these symptoms. You will
    not get into trouble.
  </p>
  <p>
    Be careful with <a href="#interactions">drug interactions</a>.
  </p>
{% endblock %}

{% block harm-reduction-stage-3 %}
  <p>
    The MDMA hangover, or comedown, varies from person to person and is
    dependent on the amount taken. The effects can also last from 1 up to 14
    days after use.
  </p>
  <p>The after effects include:</p>
  <ul>
    <li>
      <p>Fuzzy memory</p>
    </li>
    <li>
      <p>Decrease in attention or difficulty concentrating </p>
    </li>
    <li>
      <p>Some people feel happier in general and more focused.</p>
    </li>
    <li>
      <p>Mild to strong depression</p>
    </li>
  </ul>
  <p>
    Some people experience a ‘loss of magic’, meaning the drug doesn’t feel as
    good as the first few times (can be as low as 10). However, this does not
    happen to all people. If it is taken on successive days, the negative after
    effects might be enhanced.
  </p>
<h3>Additional harm reduction advice:</h3>
<h4>Use Vitamin supplements and drink water (before and after)</h4>
<h1>MAKE COLLAPSIBLE</h1>
<h4>6 hours before</h4>
<ul>
  <li>
    <p>200mg (2 pills, normally) <a href="http://www.iherb.com/Doctor-s-Best-Magnesium-High-Absorption-100-Chelated-120-Tablets/15">Magnesium Glycinate</a></p>
  </li>
  <li>
    <p>~1x Glass of Grapefruit Juice</p>
  </li>
</ul>
<h4>1-3 hours before:</h4>
<ul>
  <li>
    <p>100mg <a href="http://www.iherb.com/jarrow-formulas-r-alpha-lipoic-acid-with-biotin-60-capsules/38441">Na-R-ALA</a> (When buying, make sure it is Na-R-ALA, not R-ALA)</p>
  </li>
  <li>
    <p>200mg <a href="http://www.iherb.com/Doctor-s-Best-Magnesium-High-Absorption-100-Chelated-120-Tablets/15">Magnesium Glycinate</a></p>
  </li>
  <li>
    <p>1000mg <a href="http://www.iherb.com/rainbow-light-gummy-vitamin-c-slices-tangy-tangerine-flavor-90-gummies/40005">Vitamin-C</a> (e.g. 1x Emergen-C packet)</p>
  </li>
  <li>
    <p>100mg <a href="http://www.iherb.com/21st-century-health-care-grape-seed-extract-200-veggie-caps/10769">Grape Seed Extract</a></p>
  </li>
  <li>
    <p>~1x Glass of Grapefruit Juice</p>
  </li>
  <li>
    <p>500mg <a href="http://www.amazon.com/exec/obidos/ASIN/B000QSLINE/0781-20">ALCAR</a></p>
  </li>
  <li>
    <p>400mg <a href="http://www.amazon.com/exec/obidos/ASIN/B001DNV5CA/0781-20">EGCG</a></p>
  </li>
  <li>
    <p>100mg <a href="http://www.amazon.com/exec/obidos/ASIN/B0019GW3G8/0781-20">CoQ10</a></p>
  </li>
</ul>
<h4>30 mins before:</h4>
<ul>
  <li>
    <p>1x Tums/Rolaids (Not for harm reduction, unlike other supplements. Increases stomach alkalinity which prolongs the roll)</p>
  </li>
</ul>
<h4>2 hours after dosing:</h4>
<ul>
  <li>
    <p>100mg <a href="http://www.iherb.com/jarrow-formulas-r-alpha-lipoic-acid-with-biotin-60-capsules/38441">Na-R-ALA</a></p>
  </li>
  <li>
    <p>200mg <a href="http://www.iherb.com/Doctor-s-Best-Magnesium-High-Absorption-100-Chelated-120-Tablets/15">Magnesium Glycinate</a></p>
  </li>
  <li>
    <p>1000mg <a href="http://www.iherb.com/rainbow-light-gummy-vitamin-c-slices-tangy-tangerine-flavor-90-gummies/40005">Vitamin-C</a></p>
  </li>
  <li>
    <p>100mg <a href="http://www.iherb.com/21st-century-health-care-grape-seed-extract-200-veggie-caps/10769">Grape Seed Extract</a></p>
  </li>
</ul>
<h4>4 hours after dosing:</h4>
<ul>
  <li>
    <p>100mg <a href="http://www.iherb.com/jarrow-formulas-r-alpha-lipoic-acid-with-biotin-60-capsules/38441">Na-R-ALA</a></p>
  </li>
</ul>
<h4>That night:</h4>
<ul>
  <li>
    <p>5-10mg <a href="http://www.amazon.com/exec/obidos/ASIN/B0019LTGC2/0781-20">Melatonin</a></p>
  </li>
</ul>
<h4>The following 3-7 nights:</h4>
<ul>
  <li>
    <p>100mg <a href="http://www.iherb.com/now-foods-5-htp-200-mg-60-vcaps/593?rcode=xon237">5-HTP</a></p>
  </li>
  <li>
    <p>400mg <a href="http://www.amazon.com/exec/obidos/ASIN/B001DNV5CA/0781-20">EGCG</a></p>
  </li>
</ul>
<p>
  Source: <a href="http://www.rollsafe.org">rollsafe.org</a>
</p>
{% endblock %}

{% block risks-content %}
  <h3>In the long term...</h3>
  <h4>Long-term use and its health risks</h4>
  <p>
    There are studies that indicate brain toxicity can occur after MDMA use.
    However, there is little or no knowledge of what the consequences are.
  </p>
  <p>
    Most of the MDMA related injuries are due to dehydration caused by
    increased sweating and overheating. Make sure to drink water during the
    night, but not too much as too much water can lead to health risks of its
    own.
  </p>
  <p>
    Source: <a href="http://www.reddit.com/r/Drugs/comments/xihdordrugs_ama_series_mdma_aka_ecstasy_e_x_molly/ ">reddit.com/r/Drugs</a>
  </p>
  <h3>Dependence</h3>
  <p>
    MDMA is not as addictive as other stimulants or depressants. However, as
    any other drug it is possible to become dependant if it becomes a habit.
    Please read our information on dependence in our Essentials page for more
    information.
  </p>
{% endblock %}

{% block the-law-content %}
<h3>UK</h3>
<p>
  Illegal. Class A-Penalties include a maximum of seven years and/or unlimited
  fine for possession; life and/ or unlimited fine for production or trafficking.
</p>
<h3>Europe</h3>
<p>
  Illegal everywhere, except Portugal, where is is decriminalised up to 1g.
</p>
<h3>USA</h3>
<p>
  Illegal, Schedule 1.
</p>
<p>
  To learn why MDMA is illegal, watch this video be ATTN.
</p>
<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/-ambhaX86cc"></iframe>
</div>
{% endblock %}

{% block more-info-content %}
  <h3>FAQS</h3>
  <h4>I have a heart problem. Can I take MDMA?</h4>
  <p>
    It depends on your condition, however, stimulants can increase your heart
    rate considerably, so if you want to be on the safe side, it is better to
    not take it.
  </p>
{% endblock %}
