{% extends 'article/drug.html' %}
{% load staticfiles %}

{% block title %}
  Drugs and Me - Cocaine
{% endblock %}

{% block header %}
  <style>
    .theme-bg{
      background-color:#E96C6C !important;
    }
    .theme-color{
      color: #E96C6C !important;
    }
    .theme-light-bg{
      background-color: #E96C6C !important;
    }
    .theme-light-color{
      color:#E96C6C !important;
    }
  </style>

  <meta name="drug-name" content="cocaine">
{% endblock %}


{% block cover-contents %}
  <img src="{% static 'article/images/cocaine/cocaine-illustration.png' %}" alt="cocaine">
  <div id="cover-text">
    <h1>Cocaine</h1>
    <h4>Coke, Charlie, Snow</h4>
  </div>
{% endblock %}

{% block intro-content %}
<p>
  Cocaine is a stimulant that gives you a quick euphoric feeling. It is
  extracted from the leaves of a coca plant; these leaves have been chewed
  or drank in tea for centuries in South America. Nowadays, cocaine comes
  either in the form of white powder or as a ‘crack’ rock. The intensity of
  effects and potential for abuse vary greatly depending on the form of cocaine
  you take.
</p>
<p>
  It is the second most consumed recreational drug worldwide, with cannabis
  being the first. However, without due care and responsibility, cocaine
  can be highly addictive and dangerous due to the intense and short-lived
  induced euphoria.
</p>
{% endblock %}

{% block intro-content-1 %}
  <h3 class="funky">Avoid alcohol</h3>
  <p class="hidden">
    Avoid drinking alcohol when doing cocaine. The combination leads to the
    production of a toxic chemical, cocaethylene, that is extremely
    <a href="http://www.ncbi.nlm.nih.gov/pubmed/9243342">harmful to your liver</a>.
  </p>
{% endblock %}
{% block intro-content-2 %}
  <h3 class="funky"> Check the purity</h3>
  <p class="hidden">
    Check the purity of your cocaine before using it. Cocaine off the streets
    rarely comes in its purest form, it is frequently cut with
    other chemicals and drugs to increase its weight.
  </p>
{% endblock %}
{% block intro-content-3 %}
  <h3 class="funky">Know your limits</h3>
  <p class="hidden">
    Cocaine can make you feel over confident and sometimes
    even invincible, it can cloud your judgement and lead you to make reckless
    decisions that you may regret later.
  </p>
{% endblock %}


{% block effects-content %}
  <p>
    We have listed the most common effects of cocaine. Please note
    that everyone can be affected differently, and this is not an exhaustive
    list. Not everyone experiences these effects, and other effects are possible.

  </p>
{% endblock %}

{% block effects-list-positive %}
  <li><span>Talkative and sociable</span></li>
  <li><span>Euphoria</span></li>
  <li><span>Feeling energetic</span></li>
  <li><span>Confidence; Over confidence</span></li>
  <li><span>Sense of clear head</span></li>
  <li><span>Increased alertness</span></li>
{% endblock %}

{% block effects-list-neutral %}
<li><span>Self-interest</span></li>
<li><span>Decreased appetite</span></li>
<li><span>Dry mouth</span></li>
<li><span>Impaired movement</span></li>
<li><span>Repetitive behaviour</span></li>
<li><span>Sweating</span></li>
<li><span>Increased heart rate</span></li>
<li><span>Pupil dilation</span></li>
{% endblock %}
{% block effects-list-negative %}
<li><span>
  Tinnitus (buzzing, humming, grinding, hissing, whistling in the ears)
</span></li>
<li><span>Aggressive and risk taking behaviour</span></li>
<li><span>Sneezing, runny nose, nasal congestion, and nose bleeding</span></li>
<li><span>Headache</span></li>
<li><span>Restlessness</span></li>
<li><span>Insomnia</span></li>
<li><span>Nausea</span></li>
{% endblock %}

{% block dose-and-onset-content %}
  <h3>How? How much? When? For how long?</h3>
  <div class="side-note">
    <p>
      Read our section on dosing and tolerance in <a href="/me">ME</a> for more
      information.
    </p>
  </div>
  <p>
    As with any drug, the correct dose for you depends on factors such as
    weight, gender, metabolism, whether you have taken the drug recently or
    not, amongst many others.
  </p>
  <p>
    The amount of cocaine you should take and the time it takes for the effects
    to kick in strongly depends  on the purity and cutting agents mixed in.
    <a href="https://www.eztestkits.com/en/most-popular/cocaine-testing-drug-testing-kit">
    We highly advise you to test your cocaine before using it.</a>
    The advice provided below is based on the effects of pure cocaine.
    However, we understand that it is extremely difficult to find pure cocaine,
    so start off small and see how you feel.

  </p>
  <h3>How you take it matters...</h3>
  <h4>Powdered Cocaine</h4>
  <ul>
    <li>
      <p>
        <strong>Snorting</strong> is the most common way of using it. People
        usually divide the powder out into lines with a card and snort it with
        a straw or a piece of paper.
        Snorting through one nostril over a long time can lead to nasal ulcers
        or damage the septum.
      </p>
    </li>
    <li>
      <p>
        <strong>Gumming</strong> is another popular way of doing it. A small
        amount is applied on the upper and lower inside of the lips and the
        gum. Your lips and gums might feel numb from the cocaine.
        <a href="http://www.nature.com/bdj/journal/v204/n7/full/sj.bdj.2008.244.html">
        Gumming can damage your gums and lips.</a>
      </p>
    </li>
  </ul>
  <h4>Crack cocaine</h4>
  <ul>
    <li>
      <p>
        <strong>Smoking</strong> is the only method to consume crack cocaine. It is
        usually smoked using a crack pipe. The effects of it will be felt
        immediately (10- 20 seconds) after smoking. Crack cocaine it is much more
        potent and addictive than powder cocaine. It can also cause respiratory
        problems such as asthma and emphysema.
      </p>
    </li>
  </ul>
  <p>
    <small>
      Source: Nutt, 2012
    </small>
    </p>
  <h3>How much?</h3>
  <p>
    The purity of cocaine varies significantly from place to place and dealer
    to dealer. Be wary of this, and always start off
    small and increase the dose gradually.
  </p>
  <h3>When do the effect kick in and for how long?</h3>
  <p>
    The <strong>START</strong> time below is when you will usually begin to feel the effects
    of the cocaine from the time when you first take it. The <strong>DURATION</strong> is
    roughly the length of time you will experience the effects, after which the
    effects will start to wind off and you might start to feel the calm-down/comedown
    effects.
  </p>
  <p> Snorting and gumming cocaine: </p>
  <ul>
    <li><span><strong>START:</strong> 1-3 minutes </span></li>
    <li><span><strong>DURATION:</strong> 30 minutes</span></li>
  </ul>
  <p>Smoking crack cocaine:</p>
  <ul>
    <li><span><strong>START:</strong>15 seconds</span></li>
    <li><span><strong>DURATION:</strong>15 minutes</span></li>
  </ul>
{% endblock %}


{% block interactions-content %}

{% endblock %}

{% block combo-2C-X %}
  <h4 class="funky">CAUTION</h4>
  <p class="interaction-caution">
    These combinations are not usually physically harmful, but may produce
    undesirable effects, such as physical discomfort or overstimulation. Extreme
    use may cause physical health issues.
    Be careful when mixing these drugs.
  </p>
{% endblock %}

{% block combo-Alcohol %}
  <h4 class="funky">UNSAFE</h4>
  <p class="interaction-unsafe">
    There is considerable risk of physical harm when combining these two drugs, and
  it is strongly advised to avoid mixing them.
  </p>
{% endblock %}

{% block combo-Amphetamines %}
  <h4 class="funky">CAUTION</h4>
  <p class="interaction-caution">
    These combinations are not usually physically harmful, but may produce
    undesirable effects, such as physical discomfort or overstimulation. Extreme
    use may cause physical health issues.
    Be careful when mixing these drugs.
  </p>
{% endblock %}

{% block combo-Benzos %}
  <h4 class="funky">LOW RISK & DECREASE</h4>
  <p class="interaction-lowriskd">
    Combining these drugs can be very risky since they counteract each other's effects.
    Effects for both drugs are reduced, making it easier to overdose since
    your 'psychological baseline' is shifted from what you are used to.
  </p>
{% endblock %}

{% block combo-Caffeine %}
  <h4 class="funky">CAUTION</h4>
  <p class="interaction-caution">
    These combinations are not usually physically harmful, but may produce
    undesirable effects, such as physical discomfort or overstimulation. Extreme
    use may cause physical health issues.
    Be careful when mixing these drugs.
  </p>
{% endblock %}

{% block combo-Cannabis %}
<h4 class="funky">CAUTION</h4>
<p class="interaction-caution">
  These combinations are not usually physically harmful, but may produce
  undesirable effects, such as physical discomfort or overstimulation. Extreme
  use may cause physical health issues.
  Be careful when mixing these drugs.
</p>
{% endblock %}

{% block combo-Cocaine %}
<h4 class="funky">SELECT A DRUG</h4>
<p class="">
  Click one of the drugs below and see how it mixes with Cocaine.
</p>
{% endblock %}

{% block combo-DMT %}
<h4 class="funky">CAUTION</h4>
<p class="interaction-caution">
  These combinations are not usually physically harmful, but may produce
  undesirable effects, such as physical discomfort or overstimulation. Extreme
  use may cause physical health issues.
  Be careful when mixing these drugs.
</p>
{% endblock %}

{% block combo-DXM %}
<h4 class="funky">UNSAFE</h4>
<p class="interaction-unsafe">
  There is considerable risk of physical harm when combining these two drugs, and
  it is strongly advised to avoid mixing them.
</p>
{% endblock %}

{% block combo-Ketamine %}
<h4 class="funky">CAUTION</h4>
<p class="interaction-caution">
  These combinations are not usually physically harmful, but may produce
  undesirable effects, such as physical discomfort or overstimulation. Extreme
  use may cause physical health issues.
  Be careful when mixing these drugs.
</p>
{% endblock %}

{% block combo-LSD %}
<h4 class="funky">CAUTION</h4>
<p class="interaction-caution">
  These combinations are not usually physically harmful, but may produce
  undesirable effects, such as physical discomfort or overstimulation. Extreme
  use may cause physical health issues.
  Be careful when mixing these drugs.
</p>
{% endblock %}

{% block combo-MDMA %}
<h4 class="funky">CAUTION</h4>
<p class="interaction-caution">
  These combinations are not usually physically harmful, but may produce
  undesirable effects, such as physical discomfort or overstimulation. Extreme
  use may cause physical health issues.
  Be careful when mixing these drugs.
</p>
{% endblock %}

{% block combo-MAOIs %}
<h4 class="funky">DANGEROUS</h4>
<p class="interaction-dangerous">
  These combinations are considered extremely harmful and should always be
  avoided. Reactions to combining these drugs are highly
  unpredictable and can potentially cause death.
</p>
{% endblock %}

{% block combo-Mushrooms %}
<h4 class="funky">CAUTION</h4>
<p class="interaction-caution">
  These combinations are not usually physically harmful, but may produce
  undesirable effects, such as physical discomfort or overstimulation. Extreme
  use may cause physical health issues.
  Be careful when mixing these drugs.
</p>
{% endblock %}

{% block combo-nos %}
<h4 class="funky">LOW RISK & SYNERGY</h4>
<p class="interaction-lowrisks">
  Using these drugs together can cause a stronger effect than taking them individually,
  and they aren't likely to cause an adverse or undesirable reaction when used
  carefully. Additional research should always be done before combining drugs.
</p>
{% endblock %}

{% block combo-Opioids %}
<h4 class="funky">DANGEROUS</h4>
<p class="interaction-dnagerous">
  These combinations are considered extremely harmful and should always be
  avoided. Reactions to combining these drugs are highly
  unpredictable and can potentially cause death.
</p>
{% endblock %}

{% block combo-SSRIs %}
<h4 class="funky">LOW RISK & NO SYNERGY</h4>
<p class="interaction-lowriskns">
  Effects are additive. The combination is unlikely to cause any adverse or
  undesirable reactions beyond those that might ordinarily be expected from these
  drugs individually.
</p>

{% endblock %}


{% block harm-reduction-content %}
  <p class="side-note">
    Head over to our <a href="/me">ME</a> section if you would like to know
    more about harm reduction.
  </p>
  <p>
    There are certain precautions you should take before using cocaine. The
    advice below helps to prepare you both physically and mentally. We want you
    to be safe and enjoy your experience as much as possible, so if you have a
    bad experience or are struggling with especially bad after-effects,
    please take note of the advice below.
  </p>
{% endblock %}

{% block harm-reduction-stage-1 %}
<ul>
  <li>
    <p>
      It is difficult to obtain 100% pure cocaine, therefore we highly
      advise you to test your drug before taking it. Powdered cocaine is
      frequently cut with other powdered white substances, such as adulterants
      and speed, to increase its volume and weight. It is extremely difficult
      to know what these other drugs and impurities might be, so for your own
      safety and wellbeing, do try to test the purity of your cocaine before
      using it. <a href="http://www.eztestkits.com/en/drug-purity-and-cutting-agents/">
      Here is a list</a> of the common cutting agents found in cocaine.
    </p>
  </li>
  <li>
    <p>
      Part of reducing the harm to your body is maintaining good hygiene.
      Before snorting the cocaine, divide it on a clean surface and snort it
      with an unused straw; try not to use a note as you never know what’s
      on it.
    </p>
  </li>
  <li>
    <p>
      Injecting cocaine can cause damage to the skin and veins, which might
      lead to sores. Sharing needles puts you at risk of infections such as
      HIV, Hepatitis B and Hepatitis C. It is also the most addictive way of taking
      cocaine.
    </p>
  </li>
  <li>
    <p>
      If you have any pre-existing heart conditions or are pregnant, we strongly
      advise you to stay away from cocaine. It increases your heart rate
      significantly and can cause problems for the foetus.
    </p>
  </li>
</ul>
{% endblock %}

{% block harm-reduction-stage-2 %}
  <ul>
    <li>
      <p>
        <strong>Avoid mixing cocaine with other drugs, especially alcohol.<strong/>
        Cocaine makes you feel sober which can lead to excessive and unsafe levels of drinking.
        More importantly, cocaine and
        alcohol react to form <a href="https://en.wikipedia.org/wiki/Cocaethylene">
        cocaethylene</a>, a harmful substance that subjects your heart and liver
        to prolonged periods of stress. The risk of sudden death is
        <a href="http://drugabuse.com/library/concurrent-alcohol-and-cocaine-abuse/">18 times
        greater</a> when alcohol and cocaine are used together.
      </p>
    </li>
    <li>
      <p>
        Cocaine can make you engage in riskier behaviour. It can also cloud your judgement and lead you to make irrational
         decisions. Try not to do it alone, especially if you are new to the drug.
      </p>
    </li>
    <li>
      <p>
        Taking cocaine in excessive amounts can cause heart attacks, seizures
        or death. In the event that you overdose, be sure to call emergency services.
        <strong>You will not get into any trouble</strong>. Here are some of
        the symptoms that people show:
      </p>
      <ul>
        <li><span>Disorganised behaviour</span></li>
        <li><span>Fear</span></li>
        <li><span>Paranoia, suspiciousness</span></li>
        <li><span>Hallucinations</span></li>
        <li><span>Irritability and aggressiveness, often panic attacks </span></li>
        <li><span>Some people can become extremely antisociable</span></li>
        <li><span>
          In extreme cases, stroke, seizures, pulmonary oedema, aorta rupture
          heart attack or death can occur
        </span></li>
      </ul>
    </li>
    <li>
      <p>
        Snorting only through one nostril can cause bleeding and build up. Try
        alternating between the two nostrils and washing them with water.
      </p>
    </li>
  </ul>
{% endblock %}

{% block harm-reduction-stage-3 %}
  <ul>
    <li>
      <p>
        Cocaine can make you feel on top of the world. One of the reasons
        people become addicted to it is due to the temptation to do it over and
        over again once the effect has worn off. It has also been shown that
        frequent cocaine use dramatically reduces the blood reaching the brain
        and may lead to brain damage or dysfunction. Like any other drug, we
        advise you not to binge and to keep your cocaine consumption for special
        occasion.
      </p>
    </li>
    <li>
      <p>
        You might find it hard to fall asleep after taking cocaine. It also
        suppresses your appetite, so try to drink plenty of water the next
        day and have a health and nutritious breakfast, loaded with proteins
        fibres and carbohydrates, even if you are not hungry.
      </p>
    </li>
    <li>
      <p>Never take more cocaine to overcome the hangover!</p>
    </li>
  </ul>
  <p>
    <small>
    Source: <a href="http://news.harvard.edu/gazette/1998/03.12/ResearchersSeeH.html"></a>Harvard
    </small>
  </p>
{% endblock %}

{% block risks-content %}
  <h3>Dependence</h3>
  <p>
    Cocaine is one of the most addictive recreational drugs. While
    chewing coca leaf hardly leads to addiction, smoking crack cocaine is one of the
    most addictive drug habits. This is due to the speed with which it reaches the
    brain and also the duration of the resulting high.
  </p>
  <p>
    Even though cocaine is classified as highly addictive it does not mean you
    will get hooked with the first use. 18% of users of cocaine have been
    found to develop an addiction to it. We advise that you limit its consumption for very
    rare occasions and never introduce it into your daily lifestyle.
  </p>
  <p class="side-note">
    Please read <a href="/me">ME</a> for more general information about recreational drugs.
  </p>
  <p>
    Snorting is the most common way of consuming cocaine. After chewing coca leaf,
    snorting is the least addictive method of consumption, contrary to what many people think.
    Crack users are more prone to get into habitual use and addiction. Injecting
    solute cocaine in water is the most harmful way to do it.
  </p>
  <p>
  </p>
  <ul>
    <li><span>
      Nutt, D., King, L. A., Saulsbury, W., & Blakemore, C. (2007). Development
      of a rational scale to assess the harm of drugs of potential misuse. The
      Lancet,369(9566), 1047-1053.
    </span></li>
    <li><span>
      Anthony et al., 1994
    </span></li>
  </ul>
{% endblock %}

{% block the-law-content %}
<h3>Europe</h3>
<ul>
  <li>
    <span><strong>UK:</strong>
      <a href="https://www.gov.uk/penalties-drug-possession-dealing">Illegal</a>.
      Class A drug. Legal under medical conditions.
    </span>
  </li>
  <li>
    <span><strong>Rest of Europe:</strong>
      Illegal in all the countries, except Portugal where it is decriminalised,
      <a href="http://www.expats.cz/prague/article/czech-culture/czech-republic-s-drug-laws/">
        and Czech Republic where it is legal for personal use.
      </a>
    </span>
  </li>
</ul>

<h3>Americas</h3>
<ul>
  <li><span><strong>USA:</strong> Illegal. Schedule II drug. Legal under medical conditions.</span></li>
  <li><span><strong>Canada:</strong> Illegal. Schedule I drug.</span></li>
  <li><span><strong>Mexico:</strong>Illegal. Legal up to 0.5 grams.</span></li>
</ul>

<h3>Asia and Australasia</h3>
<ul>
  <li><span><strong>Australia</strong>
    <a href="http://www.australianpolice.com.au/main-drug-index-section/cocaine-drug-info/#law">Illegal</a>.
  </span></li>
  <li><span><strong>New Zealand</strong>
    <a href="https://www.drugfoundation.org.nz/cocaine/law-and-penalities">Illegal</a>.
    Class A drug.
  </span></li>
  <li><span><strong>Singapore:</strong> Illegal.</span></li>
  <li><span><strong>Hong Kong:</strong> Illegal.</span></li>
  <li><span><strong>Israel:</strong> Illegal.</span></li>
</ul>
<h3>Africa</h3>
<ul>
  <li><span><strong>South Africa:</strong> Illegal.</span></li>
</ul>

{% endblock %}

{% block more-info-content %}
  <h3>FAQs</h3>
  <h4>Can you get addicted to cocaine after only one try?</h4>
  <p>
    This is not true for any drug. Addiction is a complex disorder that it is
    still not fully understood. It relies on many different factors such as
    the times a particular drug is consumed, the quantity used, the family
    history of mental health, social interactions.
  </p>
  <h3>References</h3>
  <ul>
    <li><span>Nutt, D. (2012). Drugs without the hot air. Minimising the Harms of Legal and Illegal Drugs. Cambridge: UIT Cambridge Ltd</span></li>
    <li><span>Gahlinger, P. M. (2004). Illegal drugs: A complete guide to their history, chemistry, use and abuse. Penguin.</span></li>
    <li><span>Cole, M. D. (2003). The analysis of controlled substances. John Wiley & Sons.</span></li>
    <li><span>ANTHONY, J., WARNER, L., KESSLER, R. (1994) Comparative epidemiology of dependence on tobacco, alcohol, controlled substances, and inhalants: Basic findings from the National Comorbidity Survey. Experimental & Clinical Psychopharmacology, 2 (3): 244-268</span></li>
  </ul>
{% endblock %}
