{% extends 'article/base.html' %}
{% load staticfiles %}

{% block title %}
  Drugs and Me - About us
{% endblock %}


{% block header %}
<style>
  .theme-bg{
    background-color:#F6D85B !important;
  }
  .theme-color{
    color: #F6D85B !important;
  }
  .theme-light-bg{
    background-color: #F6D85B !important;
  }
  .theme-light-color{
    color:#F6D85B !important;
  }
</style>

{% endblock %}


{% block cover %}
<div id="cover" class="col-xs-12 col-md-9" style="background-color: #F6D85B">

  <img src="{% static 'article/images/other-pages/donate-illustration.png' %}" style="height:300px;" alt="donate">
  <div id="cover-text">
    <h1>Donate</h1>
  </div>
</div>
{% endblock %}

{% block cover_background %}
  <div class="theme-bg">
{% endblock %}

{% block content %}
<div class="row">

  <div class="col-md-10" role="main">
    <div class="content">
      <p>
        <strong>drugsand.me</strong> is a not-for-profit service, run by
        students who are passionate about harm reduction advocacy. We rely on
        your donations and support to improve the sitre and reach more people.
        If you support our work, please donate. We’d love to talk to you if you
        would like to learn more about the project and get involved in any way.
        Thank you.
      </p>
      <br>
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" class="donate" style="background-color:white">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="ECCYVGYUZK8K2">
        <input class="donate" type="image" src="/static/article/images/other-pages/donate-button.png" border="0" name="submit" alt="PayPal – The safer, easier way to pay online!">
        <img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1" hidden="" style="display: none !important;">
      </form>
        <br>
      <h3><span style="line-height:1.4">
        To thank our supporters, we are giving away limited edition prints of
        <a href="http://www.meaghanli.com/about/">Meaghan Li</a>'s
        <a href="http://www.meaghanli.com/posters/this-is-your-brain-on-drugs">
        'This is Your Brain on Drugs'</a> poster series.</span></h3>
        <img src="https://static1.squarespace.com/static/544457ebe4b0ba652297c239/5511b423e4b03838f98b344a/55329439e4b0c604b9733511/1429378108900/DSC03560a.jpg"
        alt="This is Your Brain on Drugs" style="width:70%; padding:20px 0px">
          <p><strong>Donate £20 or more:</strong> 3 posters of your choice</p>
          <p><strong>Donate £40 or more:</strong> 6 posters of your choice</p>
          <p><strong>Donate £60 or more:</strong> 10 posters of your choice</p>
          <p><strong>Donate £80 or more:</strong> full set of 12 posters and a bookmark</p>
          <p>To claim your posters, please
            <a href="mailto:contact@drugsand.me">email us</a>.
          </p>
          <p>
            <small>
              International shipping is not included.
            </small>
          </p>
    </div>
    </div>
  </div>
  <div class="col-md-2" role="complementary">
    <nav id="sidebar" class="nav nav-stacked affix bs-docs-sidebar hidden-print hidden-sm hidden-xs">
      <div class="bigger-sidebar-boxes boxed about-us">
        <h3 class=""><a href="/about">About us</a></h3>
      </div>
      <br>
      <div class="alcohol drugs-sidebar-boxes">
        <a href="/alcohol">
          <h4>Alcohol</h4>
        </a>
      </div>
      <div class="cannabis drugs-sidebar-boxes">
        <a href="/cannabis">
          <h4>Cannabis</h4>
        </a>
      </div>
      <div class="cocaine drugs-sidebar-boxes">
        <a href="/cocaine">
          <h4>Cocaine</h4>
        </a>
      </div>
      <div class="ketamine drugs-sidebar-boxes">
        <a href="/ketamine">
          <h4>Ketamine</h4>
        </a>
      </div>
      <div class="lsd drugs-sidebar-boxes">
        <a href="/lsd">
          <h4>LSD</h4>
        </a>
      </div>
      <div class="mdma drugs-sidebar-boxes">
        <a href="/mdma">
          <h4>MDMA</h4>
        </a>
      </div>
    </nav>
  </div>
  </div>

{% endblock %}
