{% extends 'article/base.html' %}
{% load staticfiles %}


{% block header %}

{% endblock %}


{% block cover %}
<div id="cover" class="col-xs-12 col-md-9">

  {% block cover-contents %} {% endblock %}
</div>
{% endblock %}

{% block cover_background %}
  <div class="theme-bg">
{% endblock %}

{% block content %}
<div class="row">

  <div class="col-md-10" role="main">

    <div id="intro">
      {% block intro-content %} {% endblock %}
      <p class="side-note">
        Please read <a href="/me">ME</a> for more general information about
        recreational drugs.
      </p>
      <div class="text-center">
        <div class="thing-to-take boxed tooltips" title="Click me!">
          <h2 class="funky theme-light-color">1</h2>
          {% block intro-content-1 %} {% endblock %}
        </div>
        <div class="thing-to-take boxed tooltips" title="Click me!">
          <h2 class="funky theme-light-color">2</h2>
          {% block intro-content-2 %} {% endblock %}
        </div>
        <div class="thing-to-take boxed tooltips" title="Click me!">
          <h2 class="funky theme-light-color">3</h2>
          {% block intro-content-3 %} {% endblock %}
        </div>
      </div>
    </div>
    <div id="effects">
      <h2 class="section-title"> Effects</h2>

      {% block effects-content %} {% endblock %}
      <h4>
        The effects entail (from <span style="color: #26E224">positive</span>
        to <span style="color: #E50000">negative</span>):
      </h4>
      <ul class="effects" id="effects-positive">
        {% block effects-list-positive %} {% endblock %}
      </ul>
      <ul class="effects" id="effects-neutral">
        {% block effects-list-neutral %} {% endblock %}
      </ul>
      <ul class="effects" id="effects-negative">
        {% block effects-list-negative %} {% endblock %}
      </ul>
      <p>
        <i>
        * Much more common among first-time users
      </i>
      </p>
    </div>

    <div id="dose-and-onset">
      <h2 class="section-title">Dose and Onset</h2>
      {% block dose-and-onset-content %} {% endblock %}
    </div>

    <div id="interactions">
      <h2 class="section-title">Interactions</h2>
      {% block interactions-content %} {% endblock %}
      <div id="interactions-interactive">
        <div id="interactions-combo" class="col-md-12">
          <div id="interactions-combo-addition" class="col-md-6">
            <h4 class="funky"> <span class="current-drug-name"></span> + <span id="interactions-combo-addition-temp">?</span> =</h4>
            <div class="img-responsive">
              <img class="img-responsive" src="{% static 'article/images/drug/interactions-gradient-with-text.png' %}" alt="dangerous to synergy bar">
            </div>
          </div>
          <div id="interactions-combo-result" class="boxed col-md-5">
            <h4 class="funky"> SELECT A DRUG </h4>
            <p id="interactions-combo-result-description">
              Click one of the drugs below and see how it mixes with <span class="current-drug-name"></span>.
            </p>
          </div>
        </div>
        <div id="interactions-table">
          <a href="javascript:;" class="drug-to-combine boxed combo-not-active"><h5>2C-X</h5><div class="hidden">{% block combo-2C-X %}{% endblock %}</div></a>
          <a href="javascript:;" class="drug-to-combine boxed combo-not-active"><h5>Alcohol</h5><div class="hidden">{% block combo-Alcohol %}{% endblock %}</div></a>
          <a href="javascript:;" class="drug-to-combine boxed combo-not-active"><h5>Amphetamines</h5><div class="hidden">{% block combo-Amphetamines %}{% endblock %}</div></a>
          <a href="javascript:;" class="drug-to-combine boxed combo-not-active"><h5>Benzos</h5><div class="hidden">{% block combo-Benzos %}{% endblock %}</div></a>
          <a href="javascript:;" class="drug-to-combine boxed combo-not-active"><h5>Caffeine</h5><div class="hidden">{% block combo-Caffeine %}{% endblock %}</div></a>
          <a href="javascript:;" class="drug-to-combine boxed combo-not-active"><h5>Cannabis</h5><div class="hidden">{% block combo-Cannabis %}{% endblock %}</div></a>
          <a href="javascript:;" class="drug-to-combine boxed combo-not-active"><h5>Cocaine</h5><div class="hidden">{% block combo-Cocaine %}{% endblock %}</div></a>
          <a href="javascript:;" class="drug-to-combine boxed combo-not-active"><h5>DMT</h5><div class="hidden">{% block combo-DMT %}{% endblock %}</div></a>
          <a href="javascript:;" class="drug-to-combine boxed combo-not-active"><h5>DXM</h5><div class="hidden">{% block combo-DXM %}{% endblock %}</div></a>
          <a href="javascript:;" class="drug-to-combine boxed combo-not-active"><h5>Ketamine</h5><div class="hidden">{% block combo-Ketamine %}{% endblock %}</div></a>
          <a href="javascript:;" class="drug-to-combine boxed combo-not-active"><h5>LSD</h5><div class="hidden">{% block combo-LSD %}{% endblock %}</div></a>
          <a href="javascript:;" class="drug-to-combine boxed combo-not-active"><h5>MDMA</h5><div class="hidden">{% block combo-MDMA %}{% endblock %}</div></a>
          <a href="javascript:;" class="drug-to-combine boxed combo-not-active"><h5>MAOIs</h5><div class="hidden">{% block combo-MAOIs %}{% endblock %}</div></a>
          <a href="javascript:;" class="drug-to-combine boxed combo-not-active"><h5>Mushrooms</h5><div class="hidden">{% block combo-Mushrooms %}{% endblock %}</div></a>
          <a href="javascript:;" class="drug-to-combine boxed combo-not-active"><h5>Nitrous</h5><div class="hidden">{% block combo-nos %}{% endblock %}</div></a>
          <a href="javascript:;" class="drug-to-combine boxed combo-not-active"><h5>Opioids</h5><div class="hidden">{% block combo-Opioids %}{% endblock %}</div></a>
          <a href="javascript:;" class="drug-to-combine boxed combo-not-active"><h5>SSRIs</h5><div class="hidden">{% block combo-SSRIs %}{% endblock %}</div></a>


        </div>
        <p>
          Source: <a href="http://wiki.tripsit.me/images/3/3a/Combo_2.png">tripsit.me</a>
        </p>
        {% block interactions-second-content %} {% endblock %}
      </div>
    </div>
    <div id="harm-reduction">
      <h2 class="section-title">Harm reduction</h2>
      {% block harm-reduction-content %} {% endblock %}
      <div id="harm-reduction-timeline" class="row">
        <div id="harm-reduction-stage-indicators" class="col-md-2 col-sm-2">
          <div class="harm-reduction-stage-indicator active boxed theme-light-bg">
            <h3 class="funky">BEFORE</h3>
            <div class="hidden harm-reduction-stage-description">
              {% block harm-reduction-stage-1 %} {% endblock %}
            </div>
          </div>
          <div class="harm-reduction-stage-indicator boxed">
            <h3 class="funky">DURING</h3>
            <div class="hidden harm-reduction-stage-description">
              {% block harm-reduction-stage-2 %} {% endblock %}
            </div>
          </div>
          <div class="harm-reduction-stage-indicator boxed">
            <h3 class="funky">AFTER</h3>
            <div class="hidden harm-reduction-stage-description">
              {% block harm-reduction-stage-3 %} {% endblock %}
            </div>
          </div>
        </div>
        <div id="harm-reduction-stage-descriptions" class="boxed col-md-8 col-sm-8">
          <div class="harm-reduction-stage-description">
            <p>
              Please activate Javascript.
            </p>
          </div>
          <div class="read-more">
            <p class="funky boxed text-center">Read more</p>
          </div>
        </div>

      </div>
      {% block harm-reduction-second-content %} {% endblock %}
    </div>

    <div id="risks">
      <h2 class="section-title">Risks</h2>
      {% block risks-content %} {% endblock %}
    </div>

    <div id="the-law">
      <h2 class="section-title">The Law</h2>
      {% block the-law-content %} {% endblock %}
    </div>

    <div id="more-info">
      <h2 class="section-title">More information, references, useful links...</h2>
      {% block more-info-content %} {% endblock %}
    </div>
  </div>
  <div class="col-md-2" role="complementary">
    <nav id="sidebar" class="nav nav-stacked affix bs-docs-sidebar hidden-print hidden-sm hidden-xs">
      <ul class="nav">
        <li><a href="#intro">Intro</a></li>
        <li><a href="#effects">Effects</a></li>
        <li><a href="#dose-and-onset">Dose and Onset</a></li>
        <li><a href="#interactions">Interactions</a></li>
        <li><a href="#harm-reduction">Harm Reduction</a></li>
        <li><a href="#risks">Risks</a></li>
        <li><a href="#the-law">The Law</a></li>
        <li><a href="#more-info">More information...</a></li>
      </ul>
    </nav>
  </div>
</div>

{% endblock %}
