{% extends 'article/base.html' %}
{% load staticfiles %}

{% block title %}
  Drugs and Me
{% endblock %}


{% block cover_background %}
<div style="background: url({% static 'article/images/Background.png' %}) repeat; background-size: 50%;" id="site-index">
{% endblock %}

{% block cover %}
<div>
  <div id="title">
    <div class="title" id="title-drugs">
      <div class="title-button" id="title-drugs-button">
        <h1>
          <span style="color: #40AF81;">d</span><span style="color: #E97C39;">r</span><span style="color: #5898BB;">u</span><span style="color: #E48084;">g</span><span style="color: #C43830;">s</span>
        </h1>
      </div>
      <div class="title-collapse hidden" id="title-drugs-collapse">
        <a href="/alcohol">
          <div class="alcohol">
            <h3>Alcohol</h3>
          </div>
        </a>
        <a href="/cannabis">
          <div class="cannabis">
            <h3>Cannabis</h3>
          </div>
        </a>
        <a href="/cocaine">
          <div class="cocaine">
            <h3>Cocaine</h3>
          </div>
        </a>
        <a href="/ketamine">
          <div class="ketamine">
            <h3>Ketamine</h3>
          </div>
        </a>
        <a href="/lsd">
          <div class="lsd">
            <h3>LSD</h3>
          </div>
        </a>
        <a href="/mdma">
          <div class="mdma">
            <h3>MDMA</h3>
          </div>
        </a>
      </div>
    </div>
    <div class="title" id="title-me">
      <div class="title-button" id="title-me-button">
        <a href="/me" style="color: #000000;"><h1>
          me
        </h1></a>
      </div>
    </div>
    <div id="title-static">
      <div class="title-background" id="title-drugs-background"></div>
      <div id="title-plus"><h1>+</h1></div>
      <div class="title-background" id="title-me-background"></div>
    </div>
  </div>
  <p class="lead">Your <strong>harm reduction</strong> guide to safer drug use</p>
{% endblock %}

{% block content %}

<div class="hidden-sm hidden-xs">

  <!-- Nav tabs -->
  <ul class="nav nav-pills" role="pilllist" id="home-buttons">
    <li role="presentation" class="active harm-reduction">
      <a href="#harm-reduction" aria-controls="harm-reduction" role="tab" data-toggle="pill"><h3>What is harm reduction?</h3></a>
    </li>
    <li role="presentation" class="news">
      <a href="#news" aria-controls="news" role="tab" data-toggle="pill"><h3>News</h3></a>
    </li>
    <li role="presentation" class="about-us">
      <a href="#about-us" aria-controls="about-us" role="tab" data-toggle="pill"><h3>About us</h3></a>
    </li>
    <li role="presentation" class="donate">
      <a href="#donate" aria-controls="donate" role="tab" data-toggle="pill"><h3>Donate</h3></a>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content" >
    <div role="tabpanel" class=" harm-reduction tab-pane fade in active" id="harm-reduction">
      <h4>
        <strong>drugsand.me</strong> is an educational website that provides information about existing
        harm reduction methods for drug users. We do not promote drug use,
        but we do encourage you to be safe if you are thinking of taking any kind
        of drug. This website was inspired <a href="/about">by the thousands of
        deaths</a> that occur in the UK due lack of correct drug education.
      </h4>
      <h4>
        Although we have done thorough research to find this information, you should
        not count solely on this site and do your own research. As with everything, you
        shouldn't trust the first source you bump into. We have a bibliography that
        we encourage you to read.
      </h4>
    </div>
    <div role="tabpanel" class="news tab-pane fade" id="news">
      <h4>
        Coming soon...
      </h4>
    </div>
    <div role="tabpanel" class="about-us tab-pane fade" id="about-us">
      <h4>
        <strong>drugsand.me</strong> is an educational website that provides information about existing
        harm reduction methods for drug users. We do not promote drug use, but
        we do encourage you to be safe if you are thinking of taking any kind of
        drug. This website was inspired <a href="/about">by the thousands of
        deaths</a> that occur in the UK due lack of correct drug education.
        While existing websites provide
        excellent information on drugs, they have a falsely optimistic approach,
        thinking that the people reading those sites will become discouraged
        after reading about the effects or potential health risks. This is not
        the reality.
      <br>
        Read more <a href="/about">here</a>.
      </h4>
    </div>
    <div role="tabpanel" class="donate tab-pane fade" id="donate">
    <h4>
      <strong>drugsand.me</strong> is a not-for-profit service, run by
      students who are passionate about harm reduction advocacy. We rely on
      your donations and support to improve the site and reach more people.
      We’d love to talk to you if you
      would like to learn more about the project and get involved in any way.
      If you support our work, <a href="/donate">please donate</a>. Thank you.
    </h4>
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
      <input type="hidden" name="cmd" value="_s-xclick">
      <input type="hidden" name="hosted_button_id" value="ECCYVGYUZK8K2">
      <input type="image" src="https://www.paypalobjects.com/en_US/GB/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online!">
      <img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
    </form>
    </div>
  </div>
  <div class="partners boxed">
    <h3>Our partners</h3>
    <div class="partners-logos">
      <a href="http://volteface.me"><img class="img-responsive" src="{% static 'article/images/partners/VFlogo.png' %}" alt="volteface"></a>
      <a href="http://beckleyfoundation.org"><img class="img-responsive" src="{% static 'article/images/partners/beckley-logo--home.png' %}" alt="beckleyfoundation"></a>
      <a href="https://www.facebook.com/londonpsychotropics/"><img class="img-responsive" src="{% static 'article/images/partners/LPG.png' %}" alt="london psychotropics"></a>
      <a href="https://stoptheharm.org"><img class="img-responsive" src="{% static 'article/images/partners/STH.jpg' %}" alt="stop the harm"></a>
      <a href="http://meaghanli.com"><img class="img-responsive" src="{% static 'article/images/partners/meaghanli.png' %}" alt="Meaghan Li"></a>
    </div>
  </div>

</div>

<div id="mobile-info-boxes" class="visible-xs visible-sm">
  <div class="harm-reduction boxed" >
    <h5>What is harm reduction? </h5><h5 class="pull-right">+</h5>
    <p class="hidden">
      Drugsand.me is an educational website that teaches about the existing
      harm reduction methods for drug users. We do not promote drug use,
      but we do encourage to be safe if you are thinking of taking any kind
      of drug. This website <a href="/about">was inspired by the thousands of
      deaths</a> that occur in the UK due lack of correct drug education.
    </p>
  </div>
  <div class="news boxed">
    <h5>News</h5><h5 class="pull-right">+</h5>
    <p class="hidden">Coming soon.</p>
  </div>
  <div class="about-us boxed">
    <h5>About us</h5><h5 class="pull-right">+</h5>
    <p class="hidden">
      Drugsand.me is an educational website that teaches about the existing
      harm reduction methods for drug users. We do not promote drug use, but
      we do encourage to be safe if you are thinking of taking any kind of
      drug. This website was inspired by the thousands of deaths that occur
      in the UK due lack of correct drug education. Existing websites provide
      excellent information on drugs, but have a falsely optimistic approach
      thinking that the people reading those sites will become discouraged
      after reading about the effects or potential health risks. This is not
      the reality.
    </p>
  </div>
  <div class="donate boxed">
    <h5>Donate</h5><h5 class="pull-right">+</h5>
    <p class="hidden">
        <strong>drugsand.me</strong> is a not-for-profit service, run by
        students who are passionate about harm reduction advocacy. We rely on
        your donations and support to improve the sitre and reach more people.
        If you support our work, please donate. We’d love to talk to you if you
        would like to learn more about the project and get involved in any way.
        Thank you. <a href="/donate">Please donate</a>.
    </p>
  </div>
  <div class="partners boxed">
    <h5>Our partners</h5>
    <div class="partners-logos">
      <a href="http://volteface.me"><img class="" src="{% static 'article/images/partners/VFlogo.png' %}" alt="volteface"></a>
      <a href="http://beckleyfoundation.org"><img class="" src="{% static 'article/images/partners/beckley-logo--home.png' %}" alt="beckleyfoundation"></a>
      <a href="https://www.facebook.com/londonpsychotropics/"><img src="{% static 'article/images/partners/LPG.png' %}" alt="london psychotropics"></a>
      <a href="https://stoptheharm.org"><img class="" src="{% static 'article/images/partners/STH.jpg' %}" alt="stop the harm"></a>
      <a href="http://www.meaghanli.com"><img class="img-responsive" src="{% static 'article/images/partners/meaghanli.png' %}" alt="Meaghan Li"></a>
    </div>
  </div>
</div>

  {% endblock %}
