{% extends 'article/drug.html' %}
{% load staticfiles %}

{% block title %}
  Drugs and Me - Ketamine
{% endblock %}

{% block header %}
  <style>
    .theme-bg{
      background-color:#BDC3C7 !important;
    }
    .theme-color{
      color: #BDC3C7 !important;
    }
    .theme-light-bg{
      background-color: #BDC3C7 !important;
    }
    .theme-light-color{
      color:#BDC3C7 !important;
    }
  </style>

  <meta name="drug-name" content="ketamine">
{% endblock %}


{% block cover-contents %}
  <img src="{% static 'article/images/ketamine/ketamine-illustration.png' %}" alt="ketamine">
  <div id="cover-text">
    <h1>Ketamine</h1>
    <h4><a href="https://www.erowid.org/psychoactives/slang">K, Ket, Special K, Kit-Kat</a></h4>
  </div>
{% endblock %}

{% block intro-content %}
  <p>
    Ketamine is a hallucinogenic dissociative and anaesthetic that is used in
    both humans and animals for medical purposes. It was synthesised in 1962,
    and used in anaesthesia as an alternative to phencyclidine (PCP) which
    caused powerful, long lasting hallucinations and psychotic symptoms. Today
    it is often used as an anaesthetic in children or those undergoing minor
    surgery. It is most frequently used now in vertriary medicine. It is on the
    World Health Organisation’s list of essential medicines.
  </p>
  <p>
    In low doses, users report a similar feeling to being drunk. Higher doses
    cause a much more dissociative or psychedelic effect. When used as a
    medicine, ketamine is a clear liquid. “Street” ketamine is usually a white
    powder; with a grainy appearance like salt, or flaky like tiny glass
    shards.
  </p>
{% endblock %}

{% block intro-content-1 %}
  <h3 class="funky">Don't mix with alcohol</h3>
  <p class="hidden">
    Don’t mix ketamine with alcohol; this can have dangerous sedating effects.
  </p>
{% endblock %}
{% block intro-content-2 %}
  <h3 class="funky">Don't take it alone</h3>
  <p class="hidden">
    Make sure you are with someone who is sober.
  </p>
{% endblock %}
{% block intro-content-3 %}
  <h3 class="funky">Safe setting</h3>
  <p class="hidden">
    Ketamine can make you incoordinated and confused, putting you at risk of
    injury. You should
    avoid driving or being in a public place when you take the drug.
  </p>
{% endblock %}


{% block effects-content %}
  <p>
    We have listed the most common effects of ketamine. Please note
    that everyone can be affected differently, and this is not an exhaustive
    list. Not everyone experiences these effects, and other effects are possible.
  </p>
{% endblock %}

{% block effects-list-positive %}
<li><span>Increase in energy</span></li>
  <li><span>Euphoria</span></li>
  <li><span>Sense of calm and serenity</span></li>
  <li><span>Meaningful spiritual experiences</span></li>
<li><span>Enhanced sense of connection with the world (beings or objects)</span></li>
{% endblock %}

{% block effects-list-neutral %}
  <li><span>Distortion or loss of sensory perceptions</span></li>
  <li><span>Closed and open eyes visuals</span></li>
  <li><span>Dissociation of mind from body- in large doses users may experience a “k-hole” which is an intense out-of-body or near-death like experience with very realistic visuals. </span></li>
  <li><span>Changes in how you perceive time</span></li>
  <li><span>Pain relief/numbness</span></li>
  <li><span>Shifts in perception of reality</span></li>
  <li><span>Slurred speach</span></li>
{% endblock %}
{% block effects-list-negative %}
  <li><span>
    Some short term memory loss may occurs- and this is
    <a href="http://news.bbc.co.uk/1/hi/health/8362575.stm">worse for regular</a>
    users! Users may find it difficult to remember what
    happened when they have taken ketamine. When people take a lot of ketamine,
    they are unable to form new memories while they are high and therefore may
    experience a blackout, with little-to-no memory of the experience.
  </span></li>
  <li><span>Nasal discomfort when snorting</span></li>
  <li><span>
    Discomfort, pain or numbness at injection site (only when injected)
  </span></li>
  <li><span>Severe confusion, disorganised thinking</span></li>
  <li><span>Paranoia (with regular use)</span></li>
  <li><span>Nausea and vomiting</span></li>
  <li><span>Frightening or untimely distortion</span></li>
  <li><span>
    Loss of control of body movements and balance. Becoming uncoordinated, finding it difficult to move around
  </span></li>
  <li><span>Sever dissociation, depersonalisation</span></li>
  <li><span>Loss of consciousness(may be dangerous in certain situations)</span></li>
  <li><span>
    Depression of heart rate and respiration. Especially when consumed with
    alcohol. If ketamine is taken with other stimulants such as ecstasy or
    speed, a rise in heart rate and blood pressure may occur. This can be
    dangerous to people with an underlying heart condition.
  </span></li>
  <li><span>
    Heavy use of ketamine can cause long term damage to bladder and urinary
    tract. Sometimes users initially take more ketamine to numb the pain and
    discomfort caused by these problems but this makes it much worse in the
    long run.
  </span></li>
{% endblock %}

{% block dose-and-onset-content %}
  <h3>How? How much? When? For how long?</h3>
  <div class="side-note">
    <p>
      Read our section on dosing and tolerance in <a href="/me">ME</a> for more
      information.
    </p>
  </div>
  <p>
    As with any drug, the correct dose for you depends on factors such as
    weight, gender, metabolism, whether you have taken the drug recently or
    not, amongst many others.
  </p>
  <h3>How you take it matters...</h3>
  <h4>Snorting</h4>
  <p>
     <strong>Snorting</strong>is the most common way of using it. People usually divide the powder out
     into lines with a card and snort it with a straw or a piece of paper.
     Snorting through one nostril over a long time can lead to nasal ulcers or
     damage the septum.
  </p>
  <h4>Oral</h4>
  <p>
     <strong>Oral use</strong> of ketamine results in slightly different effects to snorting or
     injecting. If taken as a ‘bomb” (wrapping a dose in a cigarette paper) the
     effects take longer to feel and the experience will last longer. Taking
     ketamine orally usually results in a less intense experience. <strong>Gumming</strong> is
     another way of doing it. A small amount is applied on the inside of the
     lips or gum. This can damage your gums and lips. Gumming is not a common
     way of taking ketamine as most users find the taste very unpleasant..
  </p>
  <h4>Intramuscular injection</h4>
  <p>
    <strong>Injection</strong>is the most harmful way to take it. Like all other substances mentioned on
     website- it’s recommended that you do not inject ketamine. Injecting also
     increases the likelihood of becoming addicted to a substance.
  </p>

  <h3>How much?</h3>
  <h4>Snorting</h4>
  <ul>
    <li>
      <h5><strong>Light dose:</strong></h5>
      <p>15-30mg</p>
    </li>
    <li>
      <h5><strong>Common dose:</strong></h5>
      <p>30-75mg</p>
    </li>
    <li>
      <h5><strong>Strong dose</strong></h5>
      <p>60-125mg</p>
    </li>
    <li>
      <h5><strong>Heavy ("K-hole"):</strong></h5>
      <p>100-250mg</p>
    </li>
  </ul>
  <h4>Oral</h4>
  <ul>
    <li>
      <h5><strong>Light dose:</strong></h5>
      <p>50-100mg</p>
    </li>
    <li>
      <h5><strong>Medium dose:</strong></h5>
      <p>75-300mg</p>
    </li>
    <li>
      <h5><strong>Strong dose</strong></h5>
      <p>200-450mg</p>
    </li>
    <li>
      <h5><strong>Heavy ("K-hole"):</strong></h5>
      <p>500mg+</p>
    </li>
  </ul>
  <h4>Intramuscular injection</h4>
  <ul>
    <li>
      <h5><strong>Light dose:</strong></h5>
      <p>15-30mg</p>
    </li>
    <li>
      <h5><strong>Medium dose:</strong></h5>
      <p>25-50mg</p>
    </li>
    <li>
      <h5><strong>Strong dose</strong></h5>
      <p>40-100mg</p>
    </li>
    <li>
      <h5><strong>Heavy ("K-hole"):</strong></h5>
      <p>60-125mg</p>
    </li>
  </ul>
  <p>
    <small>
    Source: <a href="https://erowid.org/chemicals/ketamine/ketamine_dose.shtml">Erowid</a>
  </small>
  </p>
  <h3>When do the effects kick in and for how long?</h3>
  <p>
    The <strong>START</strong> time below is when you will usually begin to feel the effects
    of the cocaine from the time when you first consumed it. The <strong>DURATION</strong> is
    roughly the length of time you will experience the effects, after which the
    effects will start to wind off and you might start to feel the calm down
    effects.
  </p>
  <h4>Timeline for snorted ketamine:</h4>
  <ul>
    <li>
      <p><strong>START:</strong> 5-15 minutes</p>
    </li>
    <li>
      <p><strong>DURATION:</strong> 40-60 minutes</p>
    </li>
    <li>
      <p><strong>AFTER-EFFECTS:</strong> 1-3 hours</p>
    </li>
  </ul>
  <h4>Timeline for ketamine taken orally:</h4>
  <ul>
    <li>
      <p><strong>START:</strong> 5-20 minutes</p>
    </li>
    <li>
      <p><strong>DURATION:</strong> 90 minutes</p>
    </li>
    <li>
      <p><strong>AFTER-EFFECTS:</strong> 40-80 minutes</p>
    </li>
  </ul>
  <h4>Timeline for injected ketamine:</h4>
  <ul>
    <li>
      <p><strong>START:</strong> 1-5 minutes</p>
    </li>
    <li>
      <p><strong>DURATION:</strong> 1-2 minutes</p>
    </li>
    <li>
      <p><strong>AFTER-EFFECTS:</strong> 2-4 hours</p>
    </li>
  </ul>
  <p>
    Ketamine may have an anti-depressive effect in low doses (20-30mg), and
    there are currently a number of ongoing research trials looking into this.
  </p>
  <p>
    <small>
      Sources:
        <a href="https://erowid.org/chemicals/ketamine/ketamine_dose.shtml">erowid.org</a>
    and <a href="http://drugs.tripsit.me/Ketamine">tripsit.me</a>
  </small>
  </p>
{% endblock %}


{% block interactions-content %}
  <p>
    Ketamine interacts a lot with other substances. When taken with other
    depressants, such as opioids, it can increase their effects. As it can also
    increase heart rate and blood pressure, taking it with stimulants can result
    in heart palpitations.
  </p>

{% endblock %}

{% block combo-2C-X %}
  <h4 class="funky">LOW RISK & SYNERGY</h4>
  <p class="interaction-lowrisks">
    These drugs work together to cause an effect greater than the sum of its parts,
    and they aren't likely to cause an adverse or undesirable reaction when used
    carefully. Additional research should always be done before combining drugs.
  </p>
{% endblock %}

{% block combo-Alcohol %}
  <h4 class="funky">Dangerous</h4>
  <p class="interaction-dangerous">
      These combinations are considered extremely harmful and should always be
      avoided. Reactions to these drugs taken in combination are highly
      unpredictable and have a potential to cause death.
  </p>
{% endblock %}

{% block combo-Amphetamines %}
  <h4 class="funky">CAUTION</h4>
  <p class="interaction-caution">
    These combinations are not usually physically harmful, but may produce
    undesirable effects, such as physical discomfort or overstimulation. Extreme
    use may cause physical health issues.
    Care should be taken when choosing to use this combination.
  </p>
{% endblock %}

{% block combo-Benzos %}
  <h4 class="funky">CAUTION</h4>
  <p class="interaction-caution">
    These combinations are not usually physically harmful, but may produce
    undesirable effects, such as physical discomfort or overstimulation. Extreme
    use may cause physical health issues.
    Care should be taken when choosing to use this combination.
  </p>
{% endblock %}

{% block combo-Caffeine %}
  <h4 class="funky">LOW RISK & NO SYNERGY</h4>
  <p class="interaction-lowriskns">
    Effects are additive. The combination is unlikely to cause any adverse or
    undesirable reactions beyond those that might ordinarily be expected from these
    drugs individually.
  </p>
{% endblock %}

{% block combo-Cannabis %}
<h4 class="funky">LOW RISK & SYNERGY</h4>
<p class="interaction-lowrisks">
  These drugs work together to cause an effect greater than the sum of its parts,
  and they aren't likely to cause an adverse or undesirable reaction when used
  carefully. Additional research should always be done before combining drugs.
</p>
{% endblock %}

{% block combo-Cocaine %}
<h4 class="funky">CAUTION</h4>
<p class="interaction-caution">
  These combinations are not usually physically harmful, but may produce
  undesirable effects, such as physical discomfort or overstimulation. Extreme
  use may cause physical health issues.
  Care should be taken when choosing to use this combination.
</p>
{% endblock %}

{% block combo-DMT %}
<h4 class="funky">LOW RISK & SYNERGY</h4>
<p class="interaction-lowrisks">
  These drugs work together to cause an effect greater than the sum of its parts,
  and they aren't likely to cause an adverse or undesirable reaction when used
  carefully. Additional research should always be done before combining drugs.
</p>
{% endblock %}

{% block combo-DXM %}
<h4 class="funky">LOW & NO SYNERGY</h4>
<p class="interaction-lowriskns">
  Effects are additive. The combination is unlikely to cause any adverse or
  undesirable reactions beyond those that might ordinarily be expected from these
  drugs individually.
</p>
{% endblock %}

{% block combo-Ketamine %}
<h4 class="funky">SELECT A DRUG</h4>
<p class="">
  Click one of the drugs below and see how it mixes with Ketamine.
</p>
{% endblock %}

{% block combo-LSD %}
<h4 class="funky">LOW RISK & SYNERGY</h4>
<p class="interaction-lowrisks">
  These drugs work together to cause an effect greater than the sum of its parts,
  and they aren't likely to cause an adverse or undesirable reaction when used
  carefully. Additional research should always be done before combining drugs.
</p>
{% endblock %}

{% block combo-MDMA %}
<h4 class="funky">LOW RISK & SYNERGY</h4>
<p class="interaction-lowrisks">
  These drugs work together to cause an effect greater than the sum of its parts,
  and they aren't likely to cause an adverse or undesirable reaction when used
  carefully. Additional research should always be done before combining drugs.
</p>
{% endblock %}

{% block combo-MAOIs %}
<h4 class="funky">CAUTION</h4>
<p class="interaction-caution">
  These combinations are not usually physically harmful, but may produce
  undesirable effects, such as physical discomfort or overstimulation. Extreme
  use may cause physical health issues.
  Care should be taken when choosing to use this combination.
</p>
{% endblock %}

{% block combo-Mushrooms %}
<h4 class="funky">LOW RISK & SYNERGY</h4>
<p class="interaction-lowrisks">
  These drugs work together to cause an effect greater than the sum of its parts,
  and they aren't likely to cause an adverse or undesirable reaction when used
  carefully. Additional research should always be done before combining drugs.
</p>
{% endblock %}

{% block combo-nos %}
<h4 class="funky">LOW RISK & SYNERGY</h4>
<p class="interaction-lowrisks">
  These drugs work together to cause an effect greater than the sum of its parts,
  and they aren't likely to cause an adverse or undesirable reaction when used
  carefully. Additional research should always be done before combining drugs.
</p>
{% endblock %}

{% block combo-Opioids %}
<h4 class="funky">DANGEROUS</h4>
<p class="interaction-dangerous">
    These combinations are considered extremely harmful and should always be
    avoided. Reactions to these drugs taken in combination are highly
    unpredictable and have a potential to cause death.
</p>
{% endblock %}

{% block combo-SSRIs %}
<h4 class="funky">LOW RISK & NO SYNERGY</h4>
<p class="interaction-lowriskns">
  Effects are additive. The combination is unlikely to cause any adverse or
  undesirable reactions beyond those that might ordinarily be expected from these
  drugs individually.
</p>

{% endblock %}


{% block harm-reduction-content %}
  <p class="side-note">
    Head over to our <a href="/me">ME</a> section if you would like to know
    more about harm reduction.
  </p>
  <p>
    There are certain precautions you should take before using ketamine. The
    advice below helps to prepare you both physically and mentally. We want you
    to be safe and enjoy your experience as much as possible, so if you have a
    bad experience or are struggling with especially bad after-effects,
    please take note of the advice below.
  </p>
{% endblock %}

{% block harm-reduction-stage-1 %}
<ul>
  <li>
    <p>
      It is always advisable to test your drugs to ensure you are getting what
      you expect. There have been some cases where people have been sold other
      substances as ketamine, such as
      <a href=”http://knowthescore.info/drugs-a-z/methoxetamine#accordian-1”>methoxetamine</a>
      , which can have much
      stronger effects.
    </p>
  </li>
  <li>
    <p>
      Good hygiene can also reduce harm. If you are snorting ketamine, ensure
      you use a clean surface and an unused straw.  Sharing straws or using notes
      can put you at risk of infections.
    </p>
  </li>
  <li>
    <p>
      Regularly snorting any drug can damage your nose. If you are going to
      snort ketamine, make sure it is crushed finely. Afterwards, clean your
      nose with water.
    </p>
  </li>
  <li>
    <p>
      Injecting ketamine causes damage to the skin and veins,
      leading to sores. Sharing injecting equipment risks infections such
      as HIV, Hepatitis B and Hepatitis C. Injecting street ketamine carries further
      risks as it is likely to contain other substances which may increase
      harm. If you are going to inject ketamine, use only medical grade
      ketamine liquid and always use new injecting equipment.
      <a href=”http://www.avert.org/professionals/hiv-programming/prevention/needle-syringe-programmes”>
      Free needle and syringe exchange services</a> are available around the
      UK. They provide sterile injecting equipment as well as advice
      to users.
    </p>
  </li>
</ul>
{% endblock %}

{% block harm-reduction-stage-2 %}
<li>
<p>
  You should avoid food for at least 1.5 hours before taking ketamine.
  Nausea and vomiting can occur when coming up. Staying still
  can help with this feeling.
</p>
</li>
<li>
<p>
  It’s very important to think about where you take ketamine. On
  high doses or in a K-hole, it is very difficult to move around, which puts
  you in a vulnerable position. It’s best to ensure you are in a safe and
  familiar place if you are going to take it. It is a good idea to be with
  someone who is familiar with the drug. You might become quite confused and
  also be injured if you try to move around when taking the drug.
</p>
</li>
<li>
<p>
  It is very
  important to avoid driving while on ketamine.
  Not only is this very dangerous, it is also illegal.
  <a href="https://www.gov.uk/government/collections/drug-driving#table-of-drugs-and-limits">
    The drug driving limit for ketamine</a> is 20 micrograms per liter of blood.
</p>
</li>
<p>
  Whilst death from ketamine poisoning is quite uncommon, it is still possible
  to overdose. Signs of a ketamine overdose include:
</p>
<ul>
  <li><span>Feeling sick and/or vomiting</span></li>
  <li><span>Feeling very confused</span></li>
  <li><span>Chest pain and irregular heart rate</span></li>
  <li><span>Being unable to move</span></li>
  <li><span>
    Violence or becoming very frightened (this may be due to hallucinations)
  </span></li>
  <li><span>Loss of consciousness or coma</span></li>
  <li><span>
    In severe cases, ketamine can cause you to have a fit. In some cases,
    people have choked on their vomit when unable to move or unconscious.
  </span></li>
  <li><span>Raised blood pressure</span></li>
</ul>
<p>
  If you think you or a friend has taken an overdose of ketamine, it is very
  important to seek help immediately. Call an ambulance and tell them what has
  been taken so that medical staff can help. You won’t get into trouble for
  this and you may minimise or prevent any serious long-term damage.
</p>
{% endblock %}

{% block harm-reduction-stage-3 %}
<h3>Hangover</h3>
<p>
  Although the major effects of ketamine only last about 1-2 hours before users
  feel normal, some people have longer lasting subtle effects that might last
  for a couple of days. Maintaining a healthy lifestyle is important to your
  physical and mental wellbeing, so try to make sure that you eat well, get
  enough sleep, and try to get some exercise. Some people take ketamine to
  forget about problems in their everyday life. While this might work for a
  short time, it can encourage people to take ketamine more and more often
  which can cause a range of physical and psychological effects.
</p>
<p>
  Some people take ketamine to forget about problems in their everyday life.
  While this might work for a short time, it can encourage people to take
  ketamine more and more often which can cause a range of physical and
  psychological effects.
</p>
<p>
  Check and compare anonymously your drug use
  <a href="https://drugsmeter.com/ketamine/">with the Drugsmeter ketamine app</a>
</p>
{% endblock %}

{% block risks-content %}
<h3>Dependence</h3>
<p>
  Ketamine has a high potential for abuse and while it is not physically
  addictive, it can cause psychological dependence in some users. Tolerance to
  the effects of ketamine develops quite quickly, so user need to use more and
  more of the drug to get the same effects as when they started using.
</p>
<p class="side-note">
  Read more about dependence <a href="/me">here</a>
</p>
<h3>When you want to quit</h3>
<p>
  If you decide to stop using ketamine, you may experience some unwanted
  withdrawal effects. If you do, it is a good idea to speak to a health
  professional who will be able to support you and signpost you to helpful
  services.
</p>
<p>
  Some of the withdrawal effects of ketamine may include:
</p>
<ul>
  <li><span>Cravings</span></li>
  <li><span>Anxiety</span></li>
  <li><span>Shaking</span></li>
  <li><span>Sweating</span></li>
  <li><span><a href="http://www.druginfo.adf.org.au/drug-facts/ketamine#references">
    Fast heart beat
  </a></span></li>
</ul>
<p>
  Don't hesitate to look for medical help, you won't get in trouble. Talk to
  your GP, who will be able to refer you on to your local addiction service.
</p>
<p>
  There are several advice services available online and over the phone including:
</p>
<ul>
  <li><span> Talk to Frank
 </a></span></li>
 <li><span><a href="http://dan247.org.uk/ContactUs.asp">
   Dan 24/7 (For those based in Wales)
 </a></span></li>
 <li><span><a href="http://knowthescore.info/help-and-support/drugs-helpline">
   Know the score (For those based in Scotland)
 </a></span></li>
 <li><span><a href="http://www.mindingyourhead.info/topics/drugs">
   Minding your head (For those based in Northern Ireland)
 </a> (for those based in Northern Ireland)</span></li>
</ul>
<h3>In the long term</h3>
<p>
  Ketamine can have long term effects, both physically and mentally when
  consumed regularly.
</p>
<h4>Urinary problems</h4>
<p>
  Long term use of ketamine can lead to urinary problems. In the most serious
  of cases, this may result in the removal of the bladder.  If you use ketamine
  and experiencing any pain or difficulties in urinating, stop use immediately
  and seek advice from your GP. Some people take more ketamine to help with
  this pain, however this may cause further, more serious damage.
</p>
<h4>Long term memory problems</h4>
<p>
  Ketamine has been shown to interfere with memory,
  learning and attention. Some users have also described
  <a href=”http://thecanyonmalibu.com/ketamine/”>having flashbacks</a> after
  taking the drug.
</p>
<p>
  <small>
  Source:  Jansen, K. L. R 1993. Non-medical use of ketamine. British Medical
  Journal, 306, 601-602.
</small>
</p>
{% endblock %}

{% block the-law-content %}
<p>
  Ketamine was
  <a href=”https://www.unodc.org/LSS/Announcement/Details/ed9bba09-90bd-479c-8f57-aaa4130e6d5f”>
    reclassified to a Class B drug</a> in the UK in 2014. The UK
  Advisory Council on the Misuse of Drugs made this recommendation based on the
  chronic harms associated with ketamine use.
</p>
<h3>Europe</h3>
<ul>
  <li><span><strong>Belgium:</strong>
     It is legal for medical and veterinary use and illegal when sold or
    possessed without a prescription.
  </span></li>
  <li><span><strong>Czech Republic:</strong>
      It is legal for medical and veterinary use and illegal when sold or
     possessed without a prescription.
  </span></li>
  <li><span><strong>Denmark:</strong>
     It is legal for medical and veterinary use and illegal when sold or
    possessed without a prescription.
  </span></li>
  <li><span><strong>France:</strong>
     Ketamine is a Schedule IV drug.
  </span></li>
  <li><span><strong>Germany:</strong>
     It is legal for medical and veterinary use and illegal when sold or
     possessed without a prescription.
  </span></li>
  <li><span><strong>Norway:</strong>
     Ketamine is a Class A drug.
  </span></li>
  <li><span><strong>Slovakia:</strong>
     Ketamine is a Schedule II drug.
  </span></li>
  <li><span><strong>Sweden:</strong>
     Ketamine is a Schedule IV drug.
  </span></li>
  <li><span><strong>UK:</strong>
     Ketamine is a Class B drug.
  </span></li>
</ul>
<h3>Americas</h3>
<ul>
  <li><span><strong>Brazil:</strong>
    The drug is legal for veterinary use and illegal when sold or possessed
    for human use.
  </span></li>
  <li><span><strong>Canada:</strong>
     Ketamine is a Schedule I drug.
  </span></li>
  <li><span><strong>Mexico:</strong>
    Ketamine is a Category 3 drug.
  </span></li>
  <li><span><strong>US:</strong>
    Ketamine is a Schedule III drug.
  </span></li>
</ul>
<h3>Asia and Australasia</h3>
<ul>
  <li><span><strong>Australia:</strong>
    Ketamine is a Schedule IV drug.
  </span></li>
  <li><span><strong>China:</strong>
    Ketamine is a Schedule II drug.
  </span></li>
  <li><span><strong>Hong Kong:</strong>
    Ketamine is a Schedule I drug.
  </span></li>
  <li><span><strong>Malaysia:</strong>
    The possession and sale is illegal.
  </span></li>
  <li><span><strong>New Zealand:</strong>
    Ketamine is a Class C drug.
  </span></li>
  <li><span><strong>Singapore:</strong>
    Ketamine is a Class A drug.
  </span></li>
  <li><span><strong>South Korea:</strong>
    The possession and sale is illegal.
  </span></li>
  <li><span><strong>Taiwan:</strong>
    Ketamine is a Schedule III drug.
  </span></li>
</ul>
{% endblock %}

{% block more-info-content %}
  <h3>FAQs</h3>
  <h4>Is ketamine a horse tranquiliser?</h4>
  <p>
    Ketamine is used as a safe anaesthetic in humans and also in many animals-
    not just horses. When first developed, it was for humans and used in
    certain situations where it might not be practical to use other
    anaesthetics that depress breathing. It is widely used in medical
    emergencies as a painkiller or as an anaesthetic in developing countries.
  </p>
  <h4>If ketamine is used for medicine, then will it be safe for me?</h4>
  <p>
    Ketamine is used in medical settings as a safe anaesthetic and painkiller.
    However, recreational use may not always be safe. Medical ketamine will be
    pure, whereas street ketamine may contain dangerous adulterants. In a
    recreational setting, ketamine can make you feel detached from your
    surroundings. You may find it difficult to move, which may put you in a
    vulnerable position or lead to injury. Long term use can also have serious
    effects, including damage to the bladder and urinary tract.
  </p>
  <h3>Useful links</h3>
  <li><p>Ketamine podcast episode:
      <a href="https://www.acast.com/saywhytodrugs/ketamine">
        Say Why To Drugs Podcast by Dr Suzanne Gage
      </a>
    </p>
  </li>
{% endblock %}
