{% extends 'article/base.html' %}
{% load staticfiles %}

{% block title %}
  Drugs and Me - Me
{% endblock %}


{% block header %}
{% endblock %}


{% block cover %}
<div id="cover" class="col-xs-12 col-md-9">

  <!-- <img src="{% static 'article/images/mdma/mdma-illustration.png' %}" alt="mdma"> -->
  <div id="cover-text">
    <h2 style="
    font-size: 50px;
    margin-top: -50px;
    ">drugs and</h2>
    <h1 style="
    color: white;
    font-size: 180px;
    margin-top: -60px;
    margin-left: -10px;
    ">me</h1>
  </div>
</div>
{% endblock %}

{% block cover_background %}
  <div style="background-image: url({% static '/article/images/non-drugs/me/me-illustration.png' %}); background-repeat: repeat;">
{% endblock %}

{% block content %}
<div class="row">

  <div class="col-md-10" role="main" id="me-content">

    <div  id="intro">
      <h2 class='section-title'>YOU take the drugs <small>So find out how to make sure they don’t
        get the better of you.</small></h2>

        <p>
          In this section we introduce you to concepts like drug tolerance and
          cover general information about drugs and how they can affect you like
          why you should never re-dose, ways to avoid getting bad drugs and
          substance abuse. We really encourage you to read on and provide you
          with links and references to make up your own mind on the issue. Feel
          free to get in touch with us if you have any top tips to
          share/important information you think should really be present on this
          page. Stay safe.
        </p>
    </div>

    <div id="getting-them">
      <div class="fancy-title section-title">
        <h2>Getting them <small>Don't get conned</small></h2>
      </div>
      <p>
        You've set your heart on a drug, here's about gettting it to ensure
        a maximal chance of getting what you asked for.
      </p>
      <div>
        <h3>Plan ahead</h3>
        <p>
          It’s best to get your drugs ahead of time to avoid rash decisions and
          buying from random unknown suppliers.
        </p>
      </div>
      <div>
        <h3>Know your supplier</h3>
        <p>
          If you’ve never bought from them yourself, at least make sure they
          come recommended from someone you know. The optimum scenario is buying
          from a tried and tested supplier; be wary of new sources. It just
          means that you’re less likely to be ripped off be it quantity or
          quality/purity wise. This also means that you should be careful of how
          much you take with a new supplier as outlined in the
          <a href="#dosing">dosing section</a>.
        </p>
        <p>
          If you are unsure about your supplier, always
          <a href=" https://www.reagent-tests.uk/shop/">test your drugs</a>.
        </p>
      </div>
      <div>
        <h3>Know the product</h3>
        <p>
          Get an idea of what the product looks like, talk to friends, visit our
          page on the drug, use resources like google images so that you can
          make a preliminary assessment of the drug upon purchase and be able to
          know if you’re being sold tea instead of cannabis.
        </p>
      </div>
      <div>
        <h3>Know the price</h3>
        <p>
          Get a handle on current prices, again using peers and online
          resources so that you know vaguely what to expect. Too much drugs for
          too little money is just as suspicious as too little.
        </p>
      </div>
    </div>

    <div id="taking-them">
      <div class="fancy-title section-title">
        <h2>Taking them<small> Truth or myth?</small></h2>
      </div>
      <p>
        There are many different ways to take drugs from the most notorious
        like ingestion (e.g. drinking alcohol, pills, cannabis edibles) and
        snorting (e.g. cocaine) or more obscure and wacky ideas like putting
        strong spirits in your eyeball. It is important to remember that some
        are very much more dangerous than others, and not always from direct
        effect of the drug. Nicotine, for example, is not necessarily a very
        dangerous compound but the act of smoking is highly linked to
        consequences like lung cancer and erectile dysfunction.
        The way a drug is taken will affect the speed with which it will reach
        your nervous system and produce its effects as shown in the graph below.
      </p>
      <p>
        When drugs reach your brain very quickly, producing an intense high,
        and then dissipate quickly, they leave a powerful need to consume more.
        This happens typically when smoking crack cocaine which is extremely
        addictive.
      </p>
      <p>
        The demanding reader can find the NIDA report on the correlations
        between how fast drugs act and abuse and addiction right
        <a href="http://archives.drugabuse.gov/NIDA_Notes/NNVol12N2/NIDASupport.html">
          here.</a>
      </p>
      <p>
        We strongly recommend avoiding the most potent modes of administration
        such as injection which carries added risks such as infection and blood
        vessel damage. It is also the easiest way to overdose.
      </p>
    </div>
    <div id="dosing">
      <div class="fancy-title section-title">
        <h2>Dosing <small>How much? / Less is more</small></h2>
      </div>
      <p>
        Due to our unique genetic makeup everyone reacts slightly differently
        to drugs but there are some simple rules you can follow to lessen your
        chances of overdosing.
      </p>
      <h3>There are no set doses</h3>
      <p>
        Age, weight, gender, ethnic
        background and even how tired you are all play a part in drug
        metabolism. You wouldn’t expect a frail elderly lady to win a shot
        competition against a fit young man. Your friend’s dose may not be the
        right one for you. Try titration dosing, it’s worth the effort. Doctors
        do it all the time: they start by prescribing a low dose and slowly
        increase it to find the sweet spot when the drug is most effective
        while minimising side-effects. The drug profiles will contain more
        specific information.
      </p>
      <p class="side-note">
        Find out why <a href="https://www.globaldrugsurvey.com/dosing-for-pleasure-and-why-less-is-often-more/">
        less is often more
      </a>when dosing for pleasure
      </p>
      <h3>Be careful with suppliers</h3>
      <p>
        If you’re taking ecstasy for example, which comes in pills, the dosage
        per pill can vary wildly so it’s best to take a lower dose than usual
        to make sure you don’t accidentally overdose.
      </p>
      <h3>Avoid re-dosing</h3>
      <p>
        Stick to one dose. Either it’s not working or you just don’t realise
        you’re high. If it doesn’t work then it is most likely due to the
        drug being cut with potentially harmful products in which case you
        really don’t want to take any more of it and should consider changing
        supplier.
      </p>
      <p>
        Read the <a href="http://casereports.bmj.com/content/2015/bcr-2015-210970.full?keytype=ref&ijkey=ZCcpRuGZI6bvQz9">
           British Medical Journal case report
        </a>on the effects of the use of levamisole as an adulterant in
        cocaine (a de-wormer)
      </p>
      <p>
        If you simply don’t realise that you’re high re-dosing can make you
        overdose. Even if it doesn’t it could tip you over the edge in a bad
        way, resulting in a bad trip and a terrible hangover. If other people
        have had the same batch, look around to see if they look high, if so
        it’s very unlikely that there was a lone pill in that batch that was
        bad.
      </p>
      <p>
        Remember drugs aren’t instantaneous, re-dosing because you were too
        impatient is a sure-fire recipe for disaster.
      </p>
      <h3>Avoid mixing drugs</h3>
      <p>
        Just like your doctor takes great care when prescribing you multiple
        drugs to avoid ones that interact with each other in negative ways, so
        should you be careful of taking more than one recreational drug at a
        time. Bear in mind that not only could they react together in a bad way
        and produce more long term health consequences but this is also a way
        to overdose without realising. Have a look at our
        interactive drug interactions charts on the individual drug pages.
      </p>
      <p>
        Also consider the prescription drugs you take as they could also
        interact and produce negative effects although this is sadly
        under-studied.
      </p>
    </div>
    <div id="tolerance">
      <div class="fancy-title section-title">
        <h2>Tolerance <small>More is less</small></h2>
      </div>
      <p>
        Tolerance is intricately linked to dosing. It arises from repeated
        consumption of a drug or similar alternatives. Your body develops a
        resistance to the compound. This means that with regular use you start
        to require a higher dose of the drug to elicit the same effect.
      </p>
      <p>
        Because it is associated with regular use, tolerance is used as one of
        many criterion for substance abuse so if you think you are becoming
        tolerant to a drug have a visit of our addiction and substance abuse
        section to assess whether you are in control of your drug use. Even if
        you are in control it will be educational and help you detect substance
        abuse in others.
      </p>
      <p>
        On the flip side it means that your tolerance decreases when you
        discontinue use of the drug. This means that if you haven’t used a
        drug in a long while that you used to take regularly you need to take
        a lower dose than usual or you will run the risk of an overdose or a
        bad trip. Again, titration dosing is your friend as outlined in the
        dosing section.
      </p>
      <p>
        <strong>Tachyphylaxis</strong> is a special kind of tolerance which
        appears very rapidly after a single dose or a series of small doses. It
        happens with drugs like psilocybin or LSD and means that for a while
        you are extremely tolerant to the drug. In effect this means that you
        can’t trip from mushrooms two days in a row but will be
        completely back to normal after a little while.
        This will be explained in more detail in the relevant drug sections.
      </p>
    </div>
    <div id="abuse-and-addiction">
      <div class="fancy-title section-title">
        <h2>Substance abuse and addiction <small>The scary bit</small></h2>
      </div>
      <p>
        A large proportion of the population consumes psychoactive substances.
        On the other hand a much smaller proportion has substance abuse
        problems. These occur when the use of drugs becomes harmful to the
        user and/or those around them. For example many people drink alcohol
        but only so many are alcoholics: their drug use becomes
        self-destructive.
      </p>
      <p>
        Addiction is often confused with substance abuse but is actually only
        a symptom of it. It consists in compulsive drug use. The brain’s
        reward pathway is hijacked by drugs meaning that repetitive use can
        make it extremely hard for the user to resist the temptation to use,
        even in situations when it would be harmful, which leads to
        substance abuse.
      </p>
      <p>
        It is not related to personality or maturity, anyone can fall into
        addiction. It is quite hard to notice in oneself and that’s why the
        more people are informed about it the higher chance they may be able
        to detect it in friends and family and help them.
      </p>
      <p>
        It’s important that the myth of instant addiction be debunked. It is
        emerging that addiction is not so much related to the actual chemicals
        being consumed but rather to environment: both mental and physical.
        Studies have shown that even though the morphine that patients receive
        in hospital is much stronger than that on the streets, it doesn’t seem
        to cause addiction.
      </p>
      <p>
        Unhealthy environments and bad habits can both lead to substance abuse.
        This can be anywhere from a warzone (soldiers in Vietnam used a lot of
        heroin) to tough estates or simply loneliness.
      </p>
      <p>
        Be careful of your drug habits. If you notice you can’t stop taking
        drugs even though they are having a very negative impact on your life
        (e.g. missing work to get high) or if you start taking drugs too often,
        to forget things that make you unhappy, just to pass the time or simply
        can’t stop, you may have a problem. Don’t rely on drugs to get you over
        a bad day, this is how it becomes your coping mechanism and you
        experience cravings and withdrawal symptoms making it very hard to
        limit or stop your drug use.
      </p>
      <p>
        The graph below is an attempt at measuring how harmful a drug is. The
        vertical axis is a scale of the dependence potential of a drug from 1
        to 10, with 1 being the least. The horizontal axis measure the ratio
        of active dose (amount to get high) on lethal dose (amount that will
        kill you). In effect, the closer that number is to one the closer the
        active dose is to the lethal one meaning it is easier to overdose.
        Cannabis in light apple green, on the far left, has a very low active
        to lethal ratio meaning it is very safe in that respect but does still
        have a relatively high dependence ratio of 4.3.
      </p>
      <p>
        If you think that you may be addicted to a substance, or know of
        someone, please check the links below. Seeking help is the best option,
        do not be afraid to refer others if you think they may not be in
        control anymore.
      </p>
      <p>
        Watch this video by Kurzgesagt explaining some of these topics in more detail.
      </p>
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ao8L-0nSYzg"></iframe>
      </div>
    </div>
    <div id="legality">
      <div class="fancy-title section-title">
        <h2>Legality <small>The fine print</small></h2>
      </div>
      <p>
        Recreational drugs tend to be illegal around the world, so be careful!
        Their legal status can however vary widely across the world so read up
        on the legislation in your corner of the globe.
      </p>
      <p>
        Alcohol was notably illegal in the early 1900s in the USA during
        prohibition, it is now legal there but only for people aged over 21
        whereas in the UK it is legal from age 18. Cannabis is becoming legal
        for medical and recreational use in various regions of the world.
      </p>
      <p class="side-note">
        <a href="https://priceonomics.com/the-mcdonalds-cocaine-spoon-fiasco/">Learn about</a>
         the fascinating role a housewife and the innocuous McDonalds stirrer
        spoon had in propelling the War on Drugs to even
        greater heights in the 1970s.
      </p>
      <p>
        Humans have consumed drugs for millennia; this is backed up by
        historical evidence and it is intrinsic to our nature. The first
        example of drug prohibition seems to date all the way back to Islamic
        Sharia law but it may very well have been present even earlier than
        that.
      </p>
      <p>
        Drug legislation remains very tied to political agendas, be they
        economic, religious or other. Scientific evidence for reform of drug
        policy is nonetheless slowly being listened to and the failure of the
        war on drugs is coming to light leading to progressive legislation
        being tried out. Each country has individual historical, social and
        political reasons behind their current policies and these will most
        certainly remain ingrained in people minds for the foreseeable future
        and embed themselves into all major decisions made on these fronts.
      </p>
      <p>
        Drugs and me endeavours to be a proponent for change but our real
        mission here is to encourage harm reduction. Providing reliable,
        verified and concise information on drugs to promote healthy use.
        We’d love to see legislation change to provide correct help for
        people in situations of substance abuse but in the meantime we’re
        here to do our best to help you avoid that.
      </p>
      <p>
        We always encourage you to read on further and here is no different,
        this is an issue where there is no right or wrong answer and we
        really want you to form your own opinion on this matter and contribute
        to the debate. Check the links below for more information on drug
        legislation and its history and definitely have a check of our
        friends over at <a href="http://volteface.me">Volteface</a>.
      </p>
    </div>

  </div>
  <div class="col-md-2" role="complementary">
    <nav id="sidebar" class="nav nav-stacked affix bs-docs-sidebar hidden-print hidden-sm hidden-xs">
      <ul class="nav">
        <li><a href="#getting-them">Getting them</a></li>
        <li><a href="#taking-them">Taking them</a></li>
        <li><a href="#dosing">Dosing</a></li>
        <li><a href="#tolerance">Tolerance</a></li>
        <li><a href="#abuse-and-addiction">Substance abuse & addiction</a></li>
        <li><a href="#legality">Legality</a></li>
      </ul>
    </nav>
  </div>
</div>

{% endblock %}
